* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

a {
  text-decoration: none;
}

a:hover,
button:hover {
  cursor: pointer;
}

html {
  --color-gray900: #111827;
  --color-gray800: #1F2937;
  --color-gray700: #374151;
  --color-gray600: #4B5563;
  --color-gray500: #6B7280;
  --color-gray400: #9CA3AF;
  --color-gray200: #E5E7EB;
  --color-gray100: #F3F4F6;
  --color-gray50: #F9FAFB;
  --color-blue: #3692FF;
  font-size: 10px;
}

ul{
  list-style-type: none;
}
