* {
  font-family: Pretendard;
  box-sizing: border-box;
}

:root {
  --main-label-color: #1f2937;
  --main-input-color: #f3f4f6;
  --main-ph-color: #9ca3af;
}

.header-container {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.logo {
  display: block;
}

.login-container {
  margin: 40px auto 0;
  width: 640px;
  height: 446px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-label {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
  color: var(--main-label-color);
  width: fit-content;
  cursor: pointer;
}

.login-input {
  width: 640px;
  margin: 16px 0 24px;
  padding: 0 24px;
  height: 56px;
  border: 0;
  border-radius: 12px;
  background-color:var(--main-input-color);
}

.password-container {
  position: relative;
}

.password-hide {
  width: 24px;
  height: 24px;
  border: none;
  position: absolute;
  top: 32px;
  right: 24px;
  background: url(../login/login_password.png) no-repeat center/contain  ;
  cursor: pointer;
  
  
}

.login-input:focus {
  border:1px solid #3692ff;
  outline: none;
}

::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: var(--main-ph-color);
}

.login-button {
  background-color:#9ca3af;
  height: 56px;
  border: 0;
  border-radius: 40px;
  color: #f9fafb;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.login-simple {
  margin-top: 24px;
  background-color: #e6f2ff;
  color: var(--main-label-color);
  height: 74px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 23px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

.simple {
  flex-grow: 1;
}

.google {
  width: 44px;
  height: 44px;
  display: inline-block;
  vertical-align: top;
}

.kakaotalk {
  margin-left: 10px;
  width: 44px;
  height: 44px;
  display: inline-block;
  vertical-align: top
}

.login-first {
  margin-top: 24px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: var(--main-label-color);
}

.sign-up {
  color: #3182f6;
}