header {
  max-width: 400px;
  height: 130px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
header img {
  width: 100%;
}
body {
  padding: 30px 0;
}
input:focus {
  border: solid 1px var(--color-blue);
}

.loginswrap {
  max-width: 640px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
}
.loginwrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  margin: 0 auto;
}
.labelText {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.inputText {
  background-color: var(--color-gray100);
  font-size: 1.6rem;
  width: 100%;
  height: 56px;
  border-radius: 12px;
  border: 0;
  padding: 16px 24px;
}
.ulwrap {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.passwordSee{
  position: absolute;
  right: 20px;
  top: 58px;
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.loginBtn {
  background-color: var(--color-blue);
  color: #f3f4f6;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  padding: 16px 124px;
  border-radius: 40px;
  border: 0;
}
.loginBtn:disabled {
  background-color: #9ca3af;
  cursor: default;
  pointer-events: none;
}
.easyLogin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1f2937;
  background-color: #e6f2ff;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  padding: 16px 23px;
  border-radius: 8px;
  width: 100%;
  height: 74px;

}
.easyLogin img {
  width: 42px;
  height: 42px;
}
.icons {
  display: flex;
  gap: 16px;
  height: 100%;
}
.toggle-login-sign {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  margin: 0 auto;
}
.toggle-login-sign a {
  color: var(--color-blue);
  text-decoration: underline;
}
.password-toggle-button {
  position: absolute;
  right: 16px;
}

@media (max-width: 767px) {
  body {
    padding: 30px 15px;
  }
  .wrap h2 {
    font-size: 32px;
  }
  .labelText {
    font-size: 1.4rem;
  }
}
.error-message {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-red);
  padding-left: 16px;
  display: none;
}

.error-line {
  border: 1px solid var(--color-red);
}
