body{
    margin: 231px 0;
}

.container{
    width: 640px;
    margin: 0 auto;
    
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 40px 0;
}

.logo-img{
    width: 396px;
    height: 132px;
}

.logo-title{
    font-family: 'ROKAF Sans';    
    font-weight: 700;
    font-size: 66.34px;
    line-height: 89.56px;
    color: #3692FF;
    padding: 23.98px 0 0;
    margin: 0 0 0 22.24px;
}

.logo-title > a{
    text-decoration: none;
    color: #3692FF;
    line-height: 89.56px;
}

.email{
    width: 100%;
}

.password{
    width: 100%;
    background: url('../images/eye.png') no-repeat right 24px bottom 15px/24px 24px;
}

.label{
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 18px;
    line-height :21.48px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 0 24px 0;
    
}

.email, .password{
    background-color: #F3F4F6;
    border: 0;
    border-radius: 12px;
    padding: 16px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height:24px;
}

.email:focus {
    border: 2px solid #3692FF;
    outline: none; /* 기본 아웃라인을 제거하고 테두리만 표시 */
}

.login-button-box{
    background-color: #9CA3AF;
    border-radius: 40px;
    padding: 16px 124px;
    border: 0;
    width: 100%;
    margin: 0 0 24px 0;
    text-align: center;
    cursor: pointer;
}

.login-button{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
}

.footer1{
    background-color: #E6F2FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 16px 23px;
    margin: 0 0 24px;
}

.footer1-log{
    font-family: 'Pretendard',sans-serif;
    color: #1F2937;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.footer1-img1{
    width: 42px;
    height: 42px;
}

.footer1-img2{
    width: 42px;
    height: 42px;
    margin: 0 0 0 16px;
}

.footer1-link{
    display: inline-block;
    vertical-align: top;
}

.footer2{
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 17.9px;
    color: #1F2937;
}

.footer2-signup{
    color: #3182F6;
}

.password-label {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.email:focus, .password:focus {
    border: 2px solid #3692FF;
    outline: none;
}

