html {
  font-family: "Pretendard-Regular";
}

/* ---------- header ---------- */
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  margin-top: 60px;
  img {
    width: 103px;
  }
  h1 {
    font-family: "ROKAF Sans";
    font-weight: 700;
    font-size: 6.6rem;
    color: var(--color-theme);
  }
}

/* ---------- main ---------- */

main {
  margin-top: 20px;
}

.form-wrapper {
  width: 640px;
  margin: auto;
}

.main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 100%;
}

.form-item-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  label {
    font-size: 1.8rem;
  }
  input {
    padding: 16px 24px;
    font-size: 1.6rem;
    font-weight: 400;
    border: none;
    background-color: var(--color-gray100);
    border-radius: 12px;
    width: 100%;
    transition: all .2s ease-in-out;
  }
  input:focus {
    outline: 1px solid var(--color-theme);
  }
}

.password-box {
  border-radius: 12px;
  background-color: var(--color-gray100);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all .2s ease-in-out;
  img {
    margin-right: 20px;
  }
  input:focus {
    outline: none;
  }
}

.password-box:focus-within {
  outline: 1px solid var(--color-theme);
}

.main-form button {
  width: 100%;
  border: none;
  border-radius: 40px;
  background-color: var(--color-gray400);
  padding: 16px 124px;
  font-family: "Pretendard-Regular";
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-white);
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.main-form button:hover {
  background-color: var(--color-theme);
}

/* ---------- footer ---------- */

footer {
  margin-top: 24px;
}

.footer-wrapper {
  width: 640px;
  margin: auto;
}

.footer-contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-skyblue);
  padding: 1rem 1.7rem;
  border-radius: 8px;
  h2 {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-gray800);
  }
}

.footer-link {
  display: flex;
  align-items: center;
  gap: 16px;
  img {
    width: 42px;
  }
}

.signin,
.signup {
  width: 100%;
  margin: auto;
  margin-top: 24px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-gray800);
  a {
    color: var(--color-blue200);
    font-size: 1.5rem;
    text-decoration: underline;
  }
}

/* ---------- 반응형 디자인 ---------- */

/* ---------- 태블릿 사이즈 ---------- */
@media (min-width: 768px) and (max-width: 1199px) {
  .logo-container {
    margin-top: 160px;
    margin-bottom: 40px;
  }
}

/* ---------- 모바일 사이즈 ---------- */
@media (min-width: 375px) and (max-width: 767px) {
  .logo-container {
    margin-top: 80px;
    margin-bottom: 40px;
    img {
      width: 51px;
    }
    h1 {
      font-size: 3.3rem;
    }
  }

  .form-wrapper {
    width: 100%;
    padding: 0 16px;
  }

  .main-form {
    max-width: 400px;
  }

  .form-item-box label {
    font-size: 1.4rem;
  }

  .footer-wrapper {
    width: 100%;
    padding: 0 16px;
    margin-bottom: 80px;
  }

  .footer-contents {
    max-width: 400px;
  }
}