nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  position: fixed;
  width: 100%;
  padding: 0 200px;
  z-index: 20;
  background-color: var(--color-white);
  box-shadow: 1px 2px 9px -1px rgba(0, 0, 0, 0.2);
}

.logo-box {
  display: flex;
  align-items: center;
  gap: .5rem;
  font-family: "ROKAF Sans";
  font-weight: 700;
  color: var(--color-theme);
  text-decoration: none;
  font-size: 2.5rem;
}

.logo-box img {
  width: 40px;
}

.nav-bar #login {
  padding: 12px 20px;
  background-color: var(--color-theme);
  border-radius: 8px;
  text-decoration: none;
  color: var(--color-white);
  font-weight: 600;
  font-size: 1.6rem;
  transition: all .1s ease-in-out;
}

.nav-bar #login:hover {
  background-color: var(--color-theme-hover);
}

.header-contents,
.main-bottom-contents {
  height: 540px;
  background-color: var(--color-bg-skyblue);;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contents-left {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contents-left h2,
.main-bottom-contents h2 {
  font-family: "Pretendard-Regular";
  font-weight: 700;
  font-size: 4rem;
  line-height: 56px;
  color: var(--color-gray700);
}

.contents-left a {
  display: inline-block;
  padding: 16px 124px;
  background-color: var(--color-theme);
  border-radius: 40px;
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 2rem;
  line-height: 24px;
  color: var(--color-gray50);
  transition: all .1s ease-in-out;
}

.contents-left a:hover {
  background-color: var(--color-theme-hover);
}

.contents-right {
  margin-top: 97px;
}

.main-contents {
  width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contents {
  display: flex;
  align-items: center;
  gap: 64px;
  height: 720px;
}

.contents img {
  width: 588px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: "Pretendard-Regular";
  h2 {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 25.2px;
    color: var(--color-theme);
  }
  h3 {
    font-weight: 700;
    font-size: 4rem;
    line-height: 56px;
    color: var(--color-gray700);
  }
  p {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 28.8px;
  }
}

.second {
  justify-content: end;
  text-align: right;
}

.bottom-contents {
  display: flex;
  align-items: center;
  width: 1200px;
}

.main-bottom-contents img {
  width: 70%;
  margin-top: 85px;
}

footer {
  height: 160px;
  padding: 32px 200px;
  background-color: var(--color-bg-footer);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-contents {
  font-family: "Pretendard-Regular";
  font-size: 1.6rem;
  font-weight: 400;
}

.footer-contents:nth-child(1) {
  color: var(--color-gray400);
}

.footer-contents:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 30px;
}

.footer-contents:nth-child(2) a {
  color: var(--color-gray200);
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
}

.footer-contents:nth-child(3) {
  display: flex;
  align-items: center;
  gap: 12px;
}

