/* ----------------- header ----------------------- */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  position: fixed;
  width: 100%;
  padding: 9px 200px;
  z-index: 20;
  background-color: var(--color-white);
  box-shadow: 1px 2px 9px -1px rgba(0, 0, 0, 0.2);
}

.logo-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "ROKAF Sans";
  font-weight: 700;
  color: var(--color-theme);
  text-decoration: none;
  font-size: 2.5rem;
}

.logo-box img {
  width: 40px;
}

.nav-bar #login {
  padding: 12px 20px;
  background-color: var(--color-theme);
  border-radius: 8px;
  text-decoration: none;
  color: var(--color-white);
  font-weight: 600;
  font-size: 1.6rem;
  transition: all 0.1s ease-in-out;
}

.nav-bar #login:hover {
  background-color: var(--color-theme-hover);
}

/* ----------------- header, main ----------------------- */
.header-contents,
.main-bottom-contents {
  height: 100%;
  background-color: var(--color-bg-skyblue);
}

.header-contents-inner {
  width: 60%;
  margin: auto;
  padding-top: 70px;
  gap: 6px;
}

.header-contents-inner,
.main-bottom-contents {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contents-left {
  display: flex;
  flex-direction: column;
  gap: 32px;
  word-break: keep-all;
}

.contents-left h2,
.main-bottom-contents h2 {
  font-family: "Pretendard-Regular";
  font-weight: 700;
  font-size: 4rem;
  line-height: 56px;
  color: var(--color-gray700);
}

.contents-left a {
  display: inline-block;
  text-align: center;
  padding: 16px;
  background-color: var(--color-theme);
  border-radius: 40px;
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 2rem;
  line-height: 24px;
  color: var(--color-gray50);
  transition: all 0.1s ease-in-out;
}

.contents-left a:hover {
  background-color: var(--color-theme-hover);
}

.contents-right {
  margin-top: 97px;

  img {
    width: 100%;
  }
}

/* ----------------- main ----------------------- */
.main-contents {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contents {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 720px;
}

.contents-inner {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 64px;

  img {
    width: 50%;
  }
}

.description {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-family: "Pretendard-Regular";
  word-break: keep-all;

  h2 {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 25.2px;
    color: var(--color-theme);
  }
  h3 {
    font-weight: 700;
    font-size: 4rem;
    line-height: 56px;
    color: var(--color-gray700);
  }
  p {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 28.8px;
  }
}

.second {
  text-align: right;
  flex-direction: row-reverse;
}

.bottom-contents {
  display: flex;
  align-items: center;
  width: 1100px;
}

.main-bottom-contents img {
  width: 70%;
  margin-top: 85px;
}

/* ----------------- footer ----------------------- */
footer {
  height: 160px;
  padding: 32px 200px;
  background-color: var(--color-bg-footer);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-contents {
  font-family: "Pretendard-Regular";
  font-size: 1.6rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-contents:nth-child(1) {
  color: var(--color-gray400);
}

.footer-contents:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-contents:nth-child(2) a {
  color: var(--color-gray200);
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
}

.footer-contents:nth-child(3) {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* ---------- mainPage 반응형 중복 스타일 ---------- */
@media (max-width: 1199px) {
  .header-contents-inner,
  .bottom-contents {
    flex-direction: column;
  }

  .header-contents-inner {
    width: 100%;
  }

  .main-contents {
    margin: 24px 0;
    padding: 24px;
    gap: 52px;
  }

  .contents-inner {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;

    img {
      width: 100%;
      object-fit: cover;
      border-radius: 14.2px;
    }
  }

  .second .description {
    margin-left: auto;
  }
}

/* ---------- 태블릿 사이즈 ---------- */
@media (min-width: 768px) and (max-width: 1199px) {
  /* header */
  nav {
    padding: 0 24px;
  }

  .contents-left {
    width: 512px;
    margin-top: 84px;
    letter-spacing: -1px;
  }

  /* main */
  .contents {
    justify-content: flex-start;
    margin-bottom: 52px;
  }

  .contents-inner img {
    height: 524px;
  }

  .bottom-contents {
    text-align: center;

    img {
      width: 100%;
    }
  }

  .bottom-contents h2 {
    padding-top: 201px;
  }

  /* footer */
  footer {
    padding: 32px 104px 64px 104px;
  }
}

/* ---------- 모바일 사이즈 ---------- */
@media (min-width: 375px) and (max-width: 767px) {
  /* header */
  nav {
    padding: 0 16px;
  }

  .contents-left {
    width: 240px;
    margin-top: 48px;
  }

  .contents-left h2 {
    font-size: 3.2rem;
    text-align: center;
  }

  .contents-left a {
    padding: 12px;
  }

  /* main */
  .contents {
    height: auto;
  }

  .contents-inner img {
    height: 259px;
  }

  .description {
    h2,
    p {
      font-size: 1.6rem;
    }

    h3 {
      font-size: 2.4rem;
    }
  }

  .bottom-contents {
    text-align: center;

    img {
      width: 100%;
    }
  }

  .bottom-contents h2 {
    padding-top: 121px;
  }

  /* footer */
  footer {
    padding: 32px 32px 64px 32px;
    flex-wrap: wrap;
    gap: 60px;
  }

  .footer-contents:nth-child(1) {
    order: 3;
  }

  .footer-contents:nth-child(2) {
    order: 1;
  }
  
  .footer-contents:nth-child(3) {
    order: 2;
  }
}
