* {
  box-sizing: border-box;
}

body {
  font-family: Pretendard, verdana, san-serif;
}

.box_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  margin: 10px;
}

.box_logo .box_login {
  flex: auto;
}

.btn_panda {
  border: 0;
  height: 51px;
  width: 153px;
  background: url("/img/header/panda.png") no-repeat;
  cursor: pointer;
}

.btn_login {
  border: 0;
  height: 49px;
  width: 128px;
  background: url("/img/header/login.png") no-repeat;
  cursor: pointer;
}

nav {
  position: sticky;
  width: 100%;
  height: 540px;
  top: 70px;
  background-color: #cfe5ff;
}

.txt_home_top {
  position: absolute;
  width: 357px;
  height: 200px;
  top: 170px;
  left: 360px;
  gap: 32px;
}

.txt_home_top span {
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
}

.btn_items {
  position: absolute;
  border: 0;
  height: 56px;
  width: 357px;
  background: url("/img/landing/btn_large.png") no-repeat;
  cursor: pointer;
  padding: 16px 124px 16px 124px;
  gap: 10px;
}

.img_home_top {
  position: absolute;
  width: 996px;
  height: 447px;
  top: 93px;
  left: 701px;
}

.container {
  display: flex;
  position: absolute;
  width: 1920px;
  height: 2160px;
  top: 610px;
  flex-wrap: wrap;
}

.sec1 {
  position: relative;
  width: 1920px;
  height: 720px;
  display: flex;
}

.sec2 {
  position: relative;
  width: 1920px;
  height: 720px;
  display: flex;
}

.sec3 {
  position: relative;
  width: 1920px;
  height: 720px;
  display: flex;
}

.sec_side {
  position: absolute;
  width: 360px;
  height: 720px;
}

.sec_content {
  position: absolute;
  width: 1200px;
  height: 720px;
  left: 360px;
}

.img_item {
  position: relative;
  width: 588px;
  height: 444px;
}

.txt_item {
  position: relative;
  gap: 12px;
}

.sec_bottom {
  position: absolute;
  width: 1920px;
  height: 540px;
  top: 2298px;
  background-color: #cfe5ff;
}

.sec_bottom .img_item {
  position: relative;
  width: 996px;
  height: 540px;
  left: 341px;
}

.sec_bottom .txt_item {
  position: relative;
  width: 286px;
  height: 112px;
  bottom: 200px;
  gap: 12px;
}

footer {
  position: absolute;
  width: 1920px;
  height: 160px;
  top: 3448px;
  padding: 32px 200px 32px 200px;
  gap: 10px;
  background-color: #111827;
  color: #9ca3af;
}
