.nickname-box{
    margin: 16px 0 24px;
}

@media (min-width: 375px){
    body{
        padding: 24px 0 179px ;
    }
}

@media (min-width: 768px){
    body{
        padding: 48px 0 243px;
    }
}

@media (min-width: 1200px){
    body{
        padding: 60px 0 178px;
    }
}