.header-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-img {
    width: 153px;
    height: 51px;
}

.logo-domain{
    margin: 0;
}

.header-button {
    width: 128px;
    height: 48px;
    background-color: #3692FF;
    border: 0;
    border-radius: 8px;
    padding: 11px 43px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    display: flex; 
    align-items: center;
    justify-content: center; 
    white-space: nowrap;
    cursor: pointer;
}

.banner {
    width: 100%;
}

.banner-img {
    width: 996px;
    height: 447px;
    position: absolute;
    top: 93px;
    left: 701px;
}

.banner-container{
    height: 100%;
    display: flex;
}

.banner-button {
    background-color: #3692FF;
    border-radius: 40px;
    border: 0;
    color: #F9FAFB; 
    font-weight: 600;
    text-decoration: none;
    display: flex; 
    justify-content: center;
    cursor: pointer;
}

.article-top{
    color: #3692FF;
    font-weight: 700;
}

.article-mid{
    color: #374151;
    font-weight: 700;
}

.article-bottom{
    color: #374151;
    font-weight: 500;
    margin: 0;
}


.section2{
    text-align: right;
}


.section4{
    width: 100%;
    background-color: #CFE5FF;
}

.section4-article{
    color: #374151;
    font-weight: 700;
}

.nav-element{
    width: 100%;
    display: grid;
    
}

.nav-container{
    width: 100%;
    margin: 0 auto;
    background-color: #111827;
}

.privary, .faq{
    text-decoration: none;
    color: #E5E7EB;
}

.privary{
    margin-right: 30px;
}

.image{
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: top;
}

.footer-nav-left {
    grid-area: left;
    color: #9CA3AF;
    margin: 0;
}

.footer-nav-mid {
    grid-area: mid;
}

.images {
    grid-area: images;
    display: flex;
    justify-content: center;
    gap: 12px;
}



@media (min-width: 375px){
    .container {
        width: 100%;
        margin: 0 auto;
    }
    .header-container{
        padding: 10px 16px 9px;
    }

    .banner-main-article {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 18px;
        margin-top: 0;
        line-height: 44.8px;
        text-align: center;
    }

    .banner{
        height: 540px;
    }
    
    .banner-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 48px 0 336px;
    }

    .banner-button{
        width: 240px;
        padding: 11px 71px;
        font-size: 16px;
        white-space: nowrap;
    }
    
    .section1{
        display: flex;
        align-items: left;
        justify-content: left;
        flex-direction: column;
        gap: 24px;
        padding: 0;
        margin-bottom: 40px;
    }

    .article_img{
        order: 1;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    .article{
        order: 2;
    }
    .banner{
        background: url("../images/Img_home_top.png") #CFE5FF no-repeat center bottom / 448px 204px;
    }

    .banner-container{
        align-items: center;   
        justify-content: center;
    }

    .section4-container{
        background: url("../images/Img_home_bottom.png") no-repeat center bottom / 375px 198px;
        align-items: center;   
        justify-content: center;
    }

    .main-text{
        padding: 52px 16px 83px;
    }

    .section4-article{
        font-size: 32px;
        text-align: center;
        padding: 121px 0 329px;
        margin: 0;
    }

    .article-top{
        font-size: 16px;
    }

    .article-mid{
        font-size: 24px;
        margin-top: 8px;
        margin-bottom: 16px;
    }
    .article-bottom{
        font-size: 16px;
    }

    .nav-element{
        grid-template: 1fr 1fr / 6.3fr 3.7fr;
        grid-template-areas: 
            "mid images"
            "left .";
        text-align: left;
        padding: 32px;
        grid-column-gap: 32px; 
        grid-row-gap: 60px;    
    }
    .section3{
        margin-bottom: 0px;
    }

    .footer-nav-mid {
        text-align: left;
    }
}

@media (min-width: 768px){
    .container {
        width: 100%;
        margin: 0 auto;
    }

    .main-text{
        padding: 24px 24px 56px 24px;
    }

    .article_img{
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    .header-container{
        padding: 10px 24px 9px;
    }

    .banner{
        background: url("../images/Img_home_top.png") #CFE5FF no-repeat center bottom / 744px 340px;
        height: 771px;
    }

    .banner-button{
        width: 357px;
        padding: 16px 124px;
        font-size: 20px;
        white-space: nowrap;
    }

    .banner-main{
        padding: 84px 0 551px;
    }

    .banner-main-article{
        font-size: 40px;
        margin-bottom: 24px;
    }

    .banner-main-article br {
        display: none;
    }

    .banner-container{
        
        align-items: start;  
    }

    .section1{
        margin-bottom: 52px;
    }

    .section4-container{
        height: 927px;
        background: url("../images/Img_home_bottom.png") no-repeat center bottom / 744px 397px;
        display: flex;
        align-items: center;
    }
    .nav-element{
        padding: 32px 104px 108px;
        grid-template: 1fr/ 1fr 1fr 1fr;
        grid-template-areas: 
            "left mid images";
    }

    .article-top{
        font-size: 18px;
    }

    .article-mid{
        font-size: 32px;
        margin-top: 16px;
        margin-bottom: 24px;
    }

    .article-mid br{
        display: none;
    }

    .article-bottom{
        font-size: 18px;
    }

    .section3{
        margin-bottom: 0px;
    }

    .section4-article{
        padding: 201px 0 614px;
        font-size: 40px;
    }

    .section4{
        height: 927px;
    }

    .images{
        justify-content: right;
    }

    .footer-nav-mid {
        text-align: center;
    }
}


@media (min-width: 1200px){
    .container {
        width: 1120px;
        margin: 0 auto;
    }
    .header-container{
        padding: 9.5px 0;
    }

    .banner{
        height: 540px;
        background: #CFE5FF;
    }

    .banner-container{
        background: url("../images/Img_home_top.png") no-repeat right 0 bottom 0 / 746px 340px;
        align-items: end;
        justify-content: left;
    }

    .section4{
        height: 540px;
    }

    .section4-container{
        height: 540px;
        background: url("../images/Img_home_bottom.png") no-repeat right 0 bottom 0 / 746px 397px;  
        justify-content: space-between;
        align-items: end;
    }

    .banner-main{
        padding: 240px 0 100px;
        justify-content: left;
    }
    
    .banner-main-article br {
        display: inline;
    }

    .banner-main-article {
        margin: 0 62px 32px 0;
        line-height: 56px;
        text-align: left;
    }

    .banner-button{
        width: 100%;
    }

    .section1{
        display: flex;
        align-items: center;
        justify-content: left;
        flex-direction: row;
        gap: 64px;
        padding: 138px 0 138px;
        margin-bottom: 0;
    }

    .section2{
        justify-content: right;
        padding: 138px 0;
    }

    .section3{
        margin-bottom: 138px;
        padding: 138px 0;
    }

    .nav-element{
        padding: 32px 0 108px;
        grid-template-columns: auto auto auto;
        grid-template-areas: 
            "left mid images";
        text-align: center;
    }

    .section4-article{
        padding: 0;
        text-align: left;
        line-height: 56px;
        padding-bottom: 172.5px;
    }

    .article_img{
        order: 2;
        width: 588px;
        height: 444px;
        margin: 0;
    }

    .main-text{
        padding: 0;
    }

    .article-top{
        font-size: 18px;
    }

    .article-mid{
        font-size: 40px;
        margin-top: 12px;
        margin-bottom: 24px;
    }

    .article-mid br {
        display: inline;
    }

    .article-bottom{
        font-size: 24px;
    }

    .footer-nav-left{
        text-align: left;
    }
}