.header-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-img {
    width: 153px;
    height: 51px;
}

.logo-domain{
    margin: 0;
}

.header-button-box {
    width: 128px;
    height: 48px;
    background-color: #3692FF;
    padding: 12px 20px;
    border-radius: 8px;
    border: 0;
    text-align: center;
}

.header-button {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    text-decoration: none;
}

.banner {
    width: 100%;
    height: 540px;
    background: #CFE5FF;
}

.banner-img {
    width: 996px;
    height: 447px;
    position: absolute;
    top: 93px;
    left: 701px;
}

.banner-container{
    height: 100%;
    display: flex;
}

.banner-button {
    width: 357px;
    height: 56px;
    background-color: #3692FF;
    padding: 16px 124px;
    border-radius: 40px;
    border: 0;
    text-align: center;
}

.banner-button-a {
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
}

.top{
    color: #3692FF;
    font-weight: 700;
}

.mid{
    color: #374151;
    font-weight: 700;
}

.bottom{
    color: #374151;
    font-weight: 500;
    margin: 0;
}


.section2{
    text-align: right;
}


.section4{
    width: 100%;
    height: 540px;
    background-color: #CFE5FF;
}

.section4-anticle{
    color: #374151;
    font-weight: 700;
}

.nav{
    background-color: #111827;
    width: 100%;
}

.nav-element{
    display: grid;
    grid-template: 1fr/ 1fr 1fr 1fr;
    text-align: center;
}

.nav-container{
    width: 100%;
    margin: 0 auto;
}

.footer-nav-left{
    color: #9CA3AF;
    margin: 0;
}

.privary_and_faq{
    text-decoration: none;
    color: #E5E7EB;
    margin-right: 30px;
}

.image{
    margin-right: 12px;
    display: inline-block;
    vertical-align: top;
}




@media (min-width: 375px){
    .container {
        width: 100%;
        margin: 0 auto;
    }
    .header-container{
        padding: 10px 16px 9px;
    }

    .banner-main-article {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 18px;
        margin-top: 0;
        text-align: center;
    }

    .banner-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 48px 0 336px;
    }

    .section1{
        display: flex;
        align-items: left;
        justify-content: left;
        flex-direction: column;
        gap: 24px;
        padding: 0;
        margin-bottom: 40px;
    }

    
    
    .anticle_img{
        order: 1;
        width: 344px;
        height: 400px;
    }
    .anticle{
        order: 2;
    }

    .banner-container{
        background: url("../images/Img_home_top.png") no-repeat center bottom / 375px 198px;
        align-items: center;   
        justify-content: center;
    }

    .section4-container{
        background: url("../images/Img_home_bottom.png") no-repeat center bottom / 375px 198px;
        align-items: center;   
        justify-content: center;
    }

    .banner-button {
        width: 100%;
        height: 48px;
        padding: 12px 71px;
    }

    .main-text{
        padding: 52px 16px 83px;
    }

    .section4-anticle{
        font-size: 32px;
        text-align: center;
        padding: 121px 0 329px;
        margin: 0;
    }

    .top{
        font-size: 16px;
        margin-bottom: 8px;
    }

    .mid{
        font-size: 24px;
        margin-bottom: 16px;
    }
    .bottom{
        font-size: 16px;
    }
}
@media (min-width: 768px){
    .container {
        width: 100%;
        margin: 0 auto;
    }
    .header-container{
        padding: 10px 24px 9px;
    }

    .banner-container{
        background: url("../images/Img_home_top.png") no-repeat center bottom / 744px 397px;
    }

    .section4-container{
        height: 100%;
        background: url("../images/Img_home_bottom.png") no-repeat center bottom / 744px 397px;
        display: flex;
        align-items: center;
    }
    .nav-element{
        padding: 32px 104px 108px;
    }

    .top{
        font-size: 18px;
        margin-bottom: 16px;
    }

    .mid{
        font-size: 32px;
        margin-bottom: 24px;
    }

    .bottom{
        font-size: 18px;
    }
}


@media (min-width: 1200px){
    .container {
        width: 1120px;
        margin: 0 auto;
    }
    .header-container{
        padding: 9.5px 0;
    }
    .banner-container{
        background: url("../images/Img_home_top.png") no-repeat right 0 bottom 0 / 746px 340px;
        align-items: center;
        justify-content: left;
        
    }
    .banner-main-article {
        font-size: 40px;
        font-weight: 700;
        margin: 0 62px 32px 0;
        text-align: left;
    }

    .section1{
        display: flex;
        align-items: center;
        justify-content: left;
        flex-direction: row;
        gap: 64px;
        padding: 137.5px 0 138.5px;
        margin-bottom: 0;
    }

    .section2{
        justify-content: right;
        padding: 138px 0;
    }

    .section3{
        margin-bottom: 138px;
        padding: 138px 0;
    }
    
    .section4-container{
        background: url("../images/Img_home_bottom.png") no-repeat right 0 bottom 0 / 746px 397px;  
        justify-content: space-between;
    }

    .nav-element{
        padding: 32px 240px 108px 240px;
    }

    .banner-main{
        padding: 0;
    }

    .section4-anticle{
        padding: 0;
        font-size: 40px;
        text-align: left;
    }

    .anticle_img{
        order: 2;
        width: 588px;
        height: 444px;
    }

    .main-text{
        padding: 0;
    }

    .top{
        font-size: 18px;
        margin-bottom: 12px;
    }

    .mid{
        font-size: 40px;
        margin-bottom: 24px;
    }
    .bottom{
        font-size: 24px;
    }
}