/* css초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Pretendard, 'Noto Sans KR', sans-serif;
}
button {
  cursor: pointer;
  /* 버튼 css초기화 */
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
  background-color: #fff;
}
.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #3692ff;
  color: #f9fafb;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 23px;
  width: 128px;
}
.container {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  position: relative;
}

.main-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cfe5ff;
  height: 540px;
}
.main-section img {
  position: absolute;
  height: 400px;
  bottom: 0;
  right: 210px;
}
.main-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 40px;
  font-weight: 700;
  color: #374151;
  gap: 32px;
  z-index: 1;
}
.main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 40px;
  background-color: #3692ff;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 16px 124px;
}
.content-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  padding: 138px 0;
  gap: 64px;
}
.right {
  text-align: right;
}
.card .content-img {
  border-radius: 12px;
  height: 444px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.content-title {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 32px;
  font-weight: 700;
  color: #374151;
}
.content .hotitem {
  font-size: 18px;
  color: #3692ff;
}
.content .hottitle {
  font-size: 40px;
  font-weight: 700;
  color: #374151;
  letter-spacing: 2%;
}
.bottom-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 540px;
  background-color: #cfe5ff;
  position: relative;
}
.bottom-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom-content img {
  height: 100%;
  position: absolute;
  right: 0;
}
.bottom-text {
  font-size: 40px;
  font-weight: 700;
  color: #374151;
}
footer {
  background-color: #111827;
  position: relative;
  height: 170px;
}

.footer-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 32px;
  color: #e5e7eb;
}
.footer-inquire {
  display: flex;
  gap: 30px;
}
.footer-sns {
  display: flex;
  gap: 12px;
}
