.dropdownList {
  position: absolute;
  top: 100%;
  left: 10px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 130px;
  border-radius: 12px;
}

.dropdownItem {
  padding: 10px;
  cursor: pointer;
}

.dropdownItem:hover {
  color: white;
  background-color: var(--blue-100);
  border-radius: 12px;
}
