.input-with-label {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

label {
  margin-bottom: 10px;
  color: var(--gray-800);
  font-weight: 700;
}

input {
  width: 346px;
  padding: 10px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  background-color: var(--gray-100);
}

input::placeholder {
  color: var(--gray-400);
}

/* tablet */
@media (min-width: 768px) {
  .form-group {
    flex-direction: row;
    align-items: center;
  }

  label {
    margin-right: 20px;
  }

  input {
    width: 768px;
  }
}

/* desktop */
@media (min-width: 1200px) {
  .form-group {
    margin-bottom: 15px;
    flex-direction: row;
  }

  input {
    width: 1170px;
  }
}
