.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  margin-right: 16px;
}

.logo-title {
  color: var(--blue-100);
  font-family: "ROKAF Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  bottom: 10px;
  left: 10px;
}

.global-header nav ul {
  display: flex;
  list-style: none;
  gap: 8px;
  font-weight: bold;
  font-size: 16px;
  color: #4b5563;
}

a.header-menu {
  color: var(--gray-600);
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}

a.header-menu.active {
  color: var(--blue-100);
}

a.header-menu:hover {
  color: var(--blue-200);
}

.default-avatar {
  width: 40px;
  height: 40px;
}

@media (min-width: 768px) {
  .global-header nav ul {
    gap: 36px;
    font-size: 18px;
  }

  .header-left {
    width: 360px;
  }

  .header-logo {
    margin-right: 30px;
  }

  .logo-title {
    font-size: 25px;
    line-height: 40px;
    float: right;
    padding-left: 10px;
  }

  a.header-menu {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .global-header {
    gap: 60px;
  }

  .header-left {
    width: 400px;
  }

  .header-logo {
    margin-right: 50px;
  }
}
