# Node.js
node_modules/
npm-debug.log

# 환경 설정 파일
.env

# 빌드 디렉토리
dist/
build/

# 운영체제 특정 파일
.DS_Store
Thumbs.db

# 로그 파일
*.log
*.out

# IDE 특정 파일
.vscode/
.idea/
*.sublime-workspace
*.sublime-project