
:root{
    --background-color : #CFE5FF;
    --blue:#3692FF;
    --light-blue: #E6F2FF;

    --gray900:#111827;
    --gray800 : #1F2937;
    --gray700:#374151; 
    --gray600: #4B5563;
    --gray500: #6B7280;
    --gray400: #9CA3AF;
    --gray200: #E5E7EB;
    --gray100: #F3F4F6;
    --gray50: #F9FAFB;
}


*{
    box-sizing: border-box;
}

html{
    font-family: 'Noto Sans KR', Arial;
    font-size: 62.5%;
    color: var(--gray700);
}

body{
    margin:0;
}

a{
    text-decoration: none;
}

.text-big{
    font-size: 4rem;
    font-weight: 800;
}

.text-mid{
    font-size: 2.2rem;
    font-weight: 500;
}
