.header-logo {
	width: 153px;
	height: auto;
}

.header-login {
	position: relative;
	right: 200px;
	background-color: #3692FF;
	border-radius: 8px;
 	width: 128px;
	height: 48px;
	text-align: center;
	padding:11px 43px 11px;
	font-size: 16px;
	font-weight: 600;
	line-height: 26px;
	text-decoration: none;
	color: #ffffff;
}

a.header-login:hover {
	background-color: #1251AA;
}

.banner {
	height: 540px;
	background-color: #CFE5FF;
	display: flex;
	justify-content: center;
}

.banner-main {
	width: 1920px;
	height: 540px;
	background-image: url(./images/home/img-panda1.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: 996px 447px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}

.wrapper {
	color: #374151;
	font-size: 40px;
	font-weight: 600;
	line-height: 56px;
	padding-left: 405px;
	left: 360px;
}

.wrapper h1 {
	font-size: 40px;
	font-weight: 700;
	line-height: 56px;
	letter-spacing: 0.02em;
	margin-bottom: 32px;
}

.banner-button {
	background-color: #3692FF;
	width: 357px;
	height: 56px;
	border-radius: 40px;
	padding: 16px 124px 16px 124px;
	font-size: 20px;
	font-weight: 600;
	line-height: 32px;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
}

a.banner-button:hover {
	background-color: #1251AA;
}

.features-item {
	padding: 16px 360px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container {
	color: #374151;
	width: 1200px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 138px 0 138px;
}

.figure {
	width: 588px;
	height: auto;
	margin-right: 20px;
}

.hot-item,
.register {
	display: flex;
	flex-direction: column;
	margin-left: 64px;
}

.hot-item h2,
.register h2 {
	color: #3692FF;
	font-size: 18px;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

.hot-item p,
.register p {
	margin: 24px 0;
	font-size: 24px;
}

.search {
	display: flex;
	flex-direction: column;
	text-align: right;
	margin-right: 64px;
}

.search h2 {
	color: #3692FF;
	font-size: 18px;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

.search p {
	margin: 24px 0;
}

h3.article-title {
	font-size: 40px;
	font-weight: 700;
	line-height: 56px;
	margin-top: 12px;
}

p.article-content {
	font-size: 24px;
	font-weight: 500;
	line-height: 32px;
}

.bottom-banner {
	height: 540px;
	background-color: #CFE5FF;
	display: flex;
	justify-content: center;
}

.bottom-wrapper{
	width: 1920px;
	height: 540px;
	background-image: url(./images/home/img-panda2.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: 996px 540px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}

.content {
	font-size: 40px;
	font-weight: 600;
	line-height: 56px;
	padding-left: 405px;
	top: 214px;
	left: 360px;
}

.footer-info {
	display: flex;
	position: relative;
	gap: 30px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
}

.link {
	text-decoration: none;
	color: #ffffff;
}

.socialMedia a {
	display: inline-block;
}

.socialMedia img {
	width: 20px;
	height: auto;
}
