* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Pretendard-Regular", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 250px auto;
}

header {
  margin-bottom: 50px;
} 

.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logo-box img {
  height: 103px;
  width: auto;
}

main {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.home {
  color: var(--color-blue);
  text-decoration: none;
  font-size: 6.6rem;
  font-weight: 700;
  font-family: "ROKAF Sans";
}

.email form, .password form, .nickname form, .password-check form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--color-gray800);
  font-size: 1.8rem;
}

#email, #password, #nickname, #password-check {
  background-color: var(--color-gray100);
  padding: 16px 24px;
  gap: 10px;
  border-radius: 12px;
  border: none;
  width: 640px;
  outline-color: var(--color-blue);
}

.visi-off, .visi-on {
  position: relative;
}

.visi-off img, .visi-on img {
  position: absolute;
  right: 20px;
  bottom: 14.5px;
}

.login-button, .signup-button {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  background-color: var(--color-gray400);
  width: 640px;
  padding: 16px 124px;
  gap: 10px;
  border-radius: 40px;
}

.login-button a, .signup-button a {
  color: var(--color-gray100);
  text-decoration: none;
}

.simple-login {
  font-size: 1.6rem;
  color: var(--color-gray800);
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-skyblue-2);
  width: 640px;
  padding: 16px 23px;
  gap: 10px;
  border-radius: 8px;
}

.simple-login .icons {
  display: flex;
  gap: 16px;
}

.bottom {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  gap: 4px;
}

.bottom p {
  color: var(--color-gray800);
}

.bottom a {
  color: var(--color-blue);
}

@media (min-width: 375px) and (max-width: 767px){
  body {
    padding: 0px 16px;
    margin: 0px;
    overflow-x: hidden;
    max-width: 400px;
  }

  .logo-box {
    margin-top: 70px;
    gap: 10px;
  }

  .logo-box img {
    height: 51px;
  }

  .home {
    font-size: 3.3rem;
  }

  main {
    width: 100%;
    height: auto;
  }

  #email, #password, #nickname, #password-check {
    width: 100%;
  }

  .login-button, .signup-button {
    width: 100%;
    height: auto;
    padding: 16px 124px;
    border-radius: 40px;
  }

  .simple-login {
    width: 100%;
    height: auto;
  }
}