* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary100: #3692ff;
  --primary200: #1967d6;
  --primary300: #1251aa;
  --error: #f74747;
  --gray900: #111827;
  --gray800: #1f2937;
  --gray700: #374151;
  --gray600: #4b5563;
  --gray500: #6b7280;
  --gray400: #9ca3af;
  --gray200: #e5e7eb;
  --gray100: #f3f4f6;
  --gray50: #f9fafb;
  --background-color: #cfe5ff;
  --login-background: #fcfcfc;
}

@font-face {
  font-family: "ROKAF Sans";
  src: url("./fonts/ROKAF\ Sans\ Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ROKAF Sans";
  src: url("./fonts/ROKAF\ Sans\ Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

html {
  font-family: Pretendard, sans-serif;
  word-break: keep-all;
  font-size: 62.5%;
}

body {
  background-color: var(--login-background);
  color: var(--gray700);
  margin: 0;
}

.wrap {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.login_page {
  width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin: 231px auto;
}

.login_page .login_page_header {
  height: 13.2rem;
  align-content: center;
}

.cursor {
  cursor: pointer;
  text-decoration: none;
}

.login_page .logo_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.224rem;
}

.login_page .login_page_header .logo {
  flex-shrink: 0;
  display: block;
  width: 103px;
  height: 103px;
}

.login_page .login_page_header .logo_title {
  font-family: "ROKAF Sans";
  font-weight: 700;
  font-size: 6.634rem;
  line-height: 8.956rem;
  color: var(--primary100);
}

.login_page .main_content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 100%;
}

.login_page .form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.login_page .login_label {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--gray800);
  margin-bottom: 1.6rem;
}

.login_page .input_box {
  border: none;
  border-radius: 1.2rem;
  padding: 1.6rem 2.4rem;
  background-color: var(--gray100);
  width: 100%;
  height: 5.6rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--gray800);
}

.input_box:focus {
  outline-color: var(--primary100);
}

.login_page .passowrd_container {
  position: relative;
}

.login_page .button_visibility {
  position: absolute;
  top: 1.6rem;
  right: 2.4rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  background-color: var(--gray400);
  color: #fff;
}

.login_page .login {
  border-radius: 4rem;
  padding: 1.6rem 12.4rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3.2rem;
  height: 5.6rem;
}

.login_page .easy_login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.8rem;
  border: none;
  background-color: #e6f2ff;
  padding: 1.6rem 2.3rem;
  height: 7.4rem;
}

.login_page .easy_login_label {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 500;
}

.login_page .nav_login {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
}

.login_page .easy_login_icon {
  width: 4.2rem;
  height: 4.2rem;
}

.login_page .footer_nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.4rem;
}

.login_page .link_signup {
  color: var(--primary100);
  line-height: 1.671rem;
}
