.content-img {
  width: 100%;
  height: auto;
}

@media (min-width: 375px) {
  .header {
    padding: 12px 16px;
  }
  .banner {
    flex-direction: column;
  }

  .wrap {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 0 16px;
  }

  .content {
    margin-top: 10px;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 12px 24px;
  }

  .banner {
    flex-direction: column;
  }

  .wrap {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 0 24px;
  }

  .content {
    margin-top: 20px;
  }
}

@media (min-width: 1200px) {
  .header {
    padding: 12px 100px;
  }

  .wrap {
    width: 1200px;
    grid-template-columns: 1fr 1fr;
  }

  .content.right {
    grid-row-start: 1;
  }

  .banner {
    flex-direction: row;
  }

  .content.right {
    padding-right: 100px;
  }

  .content {
    padding-left: 100px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 10px;
}

.logo_img {
  width: 40px;
  height: 40px;
}

.logo_button {
  color: var(--blue);
  font-weight: 700;
  font-size: 24px;
}

.login {
  color: white;
  background-color: var(--blue);
  padding: 12px 24px;
  border-radius: 8px;
  width: 128px;
  height: 48px;
  flex-shrink: 0;
}

main {
  width: 100%;
}

.wrap {
  margin: 0 auto;
  display: grid;
}

.banner {
  background-color: var(--banner-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-content h1,
.bottom.banner h1 {
  font-size: 40px;
  line-height: 56px;
  font-weight: 700px;
}

.top-content a {
  text-align: center;
  background-color: var(--blue);
  border-radius: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
  padding: 12px 100px;
}

section.wrap,
section.bottom {
  margin-top: 120px;
}

.content {
  color: var(--gray-900);
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
}

.title {
  color: var(--blue);
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.subtitle {
  color: var(--gray-800);
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  margin: 0;
}

.content.right {
  text-align: right;
}

.description {
  color: var(--gray-600);
  font-weight: 500px;
  font-size: 24px;
  line-height: 32px;
}

footer {
  background-color: var(--gray-900);
  color: var(--gray-400);
  height: 160px;
  display: flex;
  justify-content: space-around;
  padding-top: 24px;
}

.links {
  display: flex;
  gap: 10px;
}

.link {
  color: var(--gray-400);
}

.nav_icon {
  display: flex;
  gap: 10px;
}

.icon {
  width: 20px;
  height: 20px;
  color: white;
}
