main{
    margin-top: 70px;
}
.logo{
    max-height:50px;
}
header{    
    position:fixed;
    top:0;
    background-color: #ffffff;
    margin: 0px;
    width: 100%;
    z-index: 999;
    text-align: center;
}
header .nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin: 0 10%;
}
.banner{
    position:relative;
    display:flex;
    justify-content: center;
    background-color: var(--background-color);
    height: 540px;
}
.banner-text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    width: 380px;
}
.banner a{
    border-radius: 99999px;
    background-color: var(--blue);
    color: #ffffff;
    text-decoration: none;
    padding: 20px 100px;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
}

.banner-img{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    /* max-height: 100%; */
}

.banner img{
    width:100%;
    max-width: 700px;
    height: auto;
}

.container{
    width:1200px;
    margin: 96px auto;
}

.section-area{
    display:flex;
    margin: 240px 0;
    gap: 48px;
}

.section-area img{
    border-radius: 24px;
}

.section-area div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}


.section-area p{
    color:var(--blue);
    font-weight: 700;
    font-size: 2rem;
}

.section-area div p,
.section-area div h1,
.section-area div h2{
    margin:8px;
    flex-wrap: wrap;
}

.search{
    text-align: right;
}

footer{
    background-color: var(--gray900);
    color: var(--gray200);
    font-size:1.6rem;
    height: 160px;
    padding: 24px 0;
}
.footer-area{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}
.codeit{
    color: var(--gray400);
}

.footer-area a{
    text-decoration: none;
    color: var(--gray400);
}

footer i{
    color: white;
}

@media (max-width: 1199px){

    header .nav{
        margin: 0 24px;
    }

    .banner{
        display: flex;
        /* flex-direction: column; */
        /* justify-content: center; */
        /* align-items: center; */
        height: 770px;
    }
    .banner-text{
        position: absolute;
        top: 100px;
        width: 80%;
        align-items: center;
        z-index: 1;

    }

    .banner-text h1{
        font-size: 3rem;
    }
    .banner-text a{
        font-size: 1.8rem;
        padding: 15px 70px;
    }

    .banner-top .line212,
    .section-area .line211{
        display: none;
    }

    .hot{
        margin-top: 0;
    }
    .container{
        margin-top: 0;
        width: 100%;
    }
    
    .section-area{
        flex-direction: column;
        width: 100%;
        padding: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .search {
        flex-direction: column-reverse;
    }
    .footer-area {
        width: 100%;
        padding: 0 10%;
    }
}

@media (max-width: 767px){
    header .nav{
        margin: 0 16px;
    }
    
    .banner{
        height: 540px;
    }

    .banner-text{
        position: absolute;
        top: 50px;
        text-align: center;
        z-index: 1;
    }


    .banner-text h1{
        font-size: 2.5rem;
    }
    .banner-text a{
        font-size: 1.5rem;
        padding: 14px 40px;
    }

    .banner img{
        width:100%;
        max-width: 700px;
        min-width: 400px;
        height: auto;
    }
    .banner-top .line212{
        display: inline;
    }

    .section-area{
        padding: 16px;
        gap: 16px;
    }

    .section-area p{
        font-size: 1.5rem;
    }

    .section-area h1{
        font-size: 2em;
        font-weight: 900;
    }

    .section-area h2{
        font-size: 1.6rem;
    }
    .footer-area{
        position: relative;
    }
    .codeit{
        position: absolute;
    }
    
}