* {
  box-sizing: border-box;
}

:root {
  --primary100: #3692ff;
  --primary200: #1967d6;
  --primary300: #1251aa;
  --error: #f74747;
  --gray900: #111827;
  --gray800: #1f2937;
  --gray700: #374151;
  --gray600: #4b5563;
  --gray500: #6b7280;
  --gray400: #9ca3af;
  --gray200: #e5e7eb;
  --gray100: #f3f4f6;
  --gray50: #f9fafb;
  --background-color: #cfe5ff;
}

@font-face {
  font-family: "ROKAF Sans";
  src: url("./fonts/ROKAF\ Sans\ Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ROKAF Sans";
  src: url("./fonts/ROKAF\ Sans\ Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

html {
  font-family: Pretendard, sans-serif;
  word-break: keep-all;
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
  color: var(--gray700);
  margin: 0;
}

.wrap {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

header {
  max-width: 1920px;
  width: 100%;
  height: 70px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dfdfdf;
  background-color: #fff;
  padding: 0 200px;
  position: fixed;
  top: 0;
  z-index: 1;
}

header .logo_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8.59px;
}

header .logo {
  flex-shrink: 0;
  display: block;
}

header .logo_title {
  font-family: "ROKAF Sans";
  font-weight: 700;
  font-size: 2.563rem;
  line-height: 3.46rem;
  color: var(--primary100);
  margin: 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  background-color: var(--primary100);
  color: #fff;
}

header .login {
  border-radius: 8px;
  padding: 12px 23px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.6rem;
  height: 48px;
  width: 128px;
}

.cursor {
  cursor: pointer;
  text-decoration: none;
}

.home {
  width: 100%;
  height: 540px;
  position: relative;
}

.gnb_margin {
  margin-top: 70px;
}

.home .container {
  align-items: center;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: flex-start;
}

.home .title {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.6rem;
  margin: 0;
}

.home .view_more {
  border-radius: 40px;
  padding: 16px 124px;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3.2rem;
}

.home_img {
  position: absolute;
  left: 701px;
  width: 746px;
  height: 340px;
  bottom: 0;
}

.home_img.home_bottom {
  height: 397px;
}

main {
  background-color: #fff;
}

main .container {
  flex-direction: column;
}

main section {
  display: flex;
  flex-direction: row;
  gap: 64px;
  align-items: center;
  justify-content: flex-start;
  height: 720px;
}

.main_img {
  width: 588px;
  height: 444px;
  flex: none;
}

main .category {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--primary100);
}

main .subtitle {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.6rem;
  margin: 12px 0 24px;
}

main .description {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.2rem;
}

main .search {
  justify-content: flex-end;
  text-align: right;
}

footer {
  height: 160px;
  background-color: var(--gray900);
  padding: 32px 200px 108px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.909rem;
}

footer .footer_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer .copyright {
  color: var(--gray400);
}

footer .center_nav {
  display: flex;
  gap: 30px;
  align-items: center;
}

footer .cursor {
  color: var(--gray200);
}

.sns_link {
  display: flex;
  gap: 12px;
  align-items: center;
}

.sns {
  width: 20px;
  height: 20px;
  display: block;
}
