/* 폰트 */
@font-face {
  font-family: "ROKAF Sans";
  src: url("/fonts/ROKAF-Sans-Bold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
}

/* 컬러 팔레트 */
:root {
  --color-white: #ffffff;
  --color-white-2: #E5E7EB;
  --color-gray-1: #374151;
  --color-gray-2: #9CA3AF;
  --color-blue: #3692FF;
  --color-blue-hover: #1967D6;
  --color-skyblue: #cfe5ff;
  --color-footer: #111827;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Pretendard-Regular", sans-serif;
}

nav {
  background-color: var(--color-white);
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0 200px;
  box-shadow: 13px 4px 9px -1px rgb(0 0 0 / 26%);
}

.logoBox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  width: 40px;
}

.home {
  color: var(--color-blue);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "ROKAF Sans";
}

.login {
  padding: 12px 20px;
  color: var(--color-white);
  font-weight: 600;
  background-color: var(--color-blue);
  border-radius: 10px;
  text-decoration: none;
  font-size: 1rem;
}

.login:hover {
  background-color: var(--color-blue-hover);
}

main {
  padding-top: 70px;
}

.top, .bottom {
  background-color: var(--color-skyblue);
  height: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topLeft {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.topLeft .go:hover {
  background-color: var(--color-blue-hover);
}

.topRight {
  margin-top: 85px;
}

.top h1 {
  font-family: "Pretendard-Regular";
  font-weight: 700;
  font-size: 2.5rem;
  color: #374151;
  line-height: 55px;
}

.go {
  display: inline-block;
  background-color: var(--color-blue);
  color: #374151;
  line-height: 24px;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: "Pretendard-Regular";
  text-decoration: none;
  border-radius: 40px;
  padding: 20px 125px;
}

.hot_item {
  display: flex;
  align-items: center;
}

.mainContents{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
  margin: auto;
}

.mainContents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 1200px;
  }

.hot_item img, .search img, .register img {
  width: 580px;
}

.hot_item_text h2, .search_text h2, .register_text h2 {
  color: var(--color-blue);
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 25px;
}

.hot_item_text h3, .search_text h3, .register_text h3 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 55px;
}

.hot_item_text p, .search_text p, .register_text p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 28px;
}

.hot_item,.search, .register {
  display: flex;
  align-items: center;
  gap: 65px;
  height: 720px;
}

.hot_item_text, .search_text, .register_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.search {
  justify-content: end;
}

.search_text {
  text-align: right;
}

.bottom_contents {
  display: flex;
  align-items: center;
  width: 1200px;
}

.bottom img {
  width: 70%;
  margin-top: 75px;
}

.bottom_text {
  color: var(--color-gray-1);
  font-size: 1.6em;
  line-height: 56px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-footer);
  height: 160px;
  padding: 32px 200px;
  font-size: 0.9rem;
}

footer p {
  color: var(--color-gray-2);
}

.footer_text a {
  color: var(--color-white);
  text-decoration: none;
}

.footer_text {
  display: flex;
  gap: 15px;
}

.footer_icons {
  display: flex;
  gap: 10px;
}