
:root{
    --background-color : #CFE5FF;
    --blue:#3692FF;
    --light-blue: #E6F2FF;

    --gray900:#111827;
    --gray800 : #1F2937;
    --gray700:#374151; 
    --gray600: #4B5563;
    --gray500: #6B7280;
    --gray400: #9CA3AF;
    --gray200: #E5E7EB;
    --gray100: #F3F4F6;
    --gray50: #F9FAFB;
}


*{
    box-sizing: border-box;
}

html{
    font-family: 'Noto Sans KR', Arial;
    font-size: 20px;
    color: var(--gray700);
}
h1{
    font-size: 2rem;
    font-weight: 800;
}
h2{
    font-size: 1rem;
}


body{
    width: 960px;
    margin: 0 auto;
}

header{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 96px 0;
}

header a, 
header a img{
    max-width: 600px;
}

section{
    display:flex;
    flex-direction: column;
    gap: 24px;
    width: 90%;
    margin: 0 auto;
}

section label{
    font-size: 1.3rem ;
    font-weight: 700;
}

.inputbox form{
    display:flex;
    flex-direction: column;
    gap: 20px;
}

.inputbox input,
.inputbox button{
    height: 4rem;
    border:none;
    border-radius: 20px;
    background-color: var(--gray100);
}

.inputbox input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:40px;
    font-size: 1.1rem;
}

.inputbox input::placeholder{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--gray400)
}
/* input boeder color 적용 안됨 */
.inputbox input:focus{
    border: 1px solid var(--blue);
}

.inputbox button{
    background-color: var(--gray400);
    border-radius: 40px;
    margin: 28px 0;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
}
.easy-login{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-blue);
    height: 5rem;
    width:100%;
    font-size: 1rem;
    font-weight: 600;
    padding: 32px;
    border-radius: 12px;
}

.easy-login div{
    display: flex;
    gap: 20px;
    margin: 4px;
    /* justify-content: flex-end; */
}
.easy-login a{
    text-decoration: none;
    width: 60px;
}
.easy-login a img{
    width: 100%;
    margin: 10px;
}

.question{
    text-align: center;
    font-weight: 500;
}

.question a{
    text-decoration: underline;
    color: var(--blue);
    font-size: 1rem;
    /* font-weight: 500; */
}

