* {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    word-break: keep-all;
    color: var(--color-gray700);
    font-family: "Pretendard", sans-serif;
}

.button {
    background-color: var(--color-blue);
    display: inline-block;
    color: var(--color-gray50);
}

.button:hover {
    background-color: var(--color-blue-hover);
}

.button:focus {
    background-color: var(--color-blue-focus);
}

.button:disabled {
    background-color: var(--color-gray400);
}

#loginButton {
    padding: 12px 23px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
}
