header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    background-color: var(--color-white);
    border: 1px solid #dfdfdf;
    position: sticky;
    top: 0;
}

.banner {
    height: 540px;
    background-color: var(--color-bg-skyblue);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 70% bottom;
    display: flex;
    align-items: center;
}

#top-Banner {
    background-image: url("../src/img/home/Img_home_top.png");
}

#bottom-Banner {
    background-image: url("../src/img/home/Img_home_bottom.png");
}

.banner-Text {
    padding: 0 200px;
    width: 100%;
    margin: auto;
    gap: 32px;
}

.banner-Text h1 {
    font-size: 40px;
    font-weight: 700;
}

.button.banner-button {
    margin: 32px 0 0;
}

.banner-button {
    font-size: 20px;
    font-weight: 600;
    border-radius: 40px;
    padding: 16px 124px;
}

.containers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 1200px;
    display: flex;
    height: 720px;
    align-items: center;
    gap: 64px;
}

.container.even {
    justify-content: end;
    text-align: right;
    flex-direction: row-reverse;
}

.container h3 {
    font-size: 18px;
    color: var(--color-blue);
}

.container h2 {
    font-size: 40px;
    margin: 12px 0 24px;
}

.container p {
    font-size: 24px;
}

footer {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-gray900);
    padding: 32px 200px;
    font-size: 16px;
    font-weight: 400;
    flex-wrap: wrap;
}

/* 글씨 줄바꿈 방지 및 맨 앞쪽으로 위치 시키기 위해 order값에 음수 */
footer p {
    color: var(--color-gray400);
    white-space: nowrap;
    order: -1;
}

.footer-menu {
    display: flex;
    gap: 30px;
}

/* 글씨 줄바꿈 방지 */
.footer-menu a {
    color: var(--color-gray200);
    white-space: nowrap;
}

.footer-icon {
    display: flex;
    gap: 12px;
}

@media (max-width: 1199px) {
    header {
        padding: 0 24px;
    }

    .banner {
        height: 771px;
        background-size: 100%;
        background-position: 100% bottom;
        text-align: center;
        align-items: start;
    }

    .banner-Text {
        margin: 116px 0;
        padding: 0;
    }

    #top-Banner br {
        display: none;
    }

    .button.banner-button {
        margin: 24px;
    }

    .containers {
        padding: 24px;
        gap: 52px;
        margin: 0 0 54px;
    }

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: start;
        gap: 64px;
    }

    .container img {
        width: 100%;
    }

    .container.even {
        flex-direction: column;
        align-items: end;
    }

    .container h2 {
        margin: 16px 0 24px;
        font-size: 32px;
    }

    .container h2 br {
        display: none;
    }

    .container p {
        font-size: 18px;
    }

    footer {
        padding: 32px 104px;
    }
}

@media (max-width: 767px) {
    header {
        padding: 0 16px;
    }

    .banner {
        height: 540px;
    }
    #top-Banner br {
        display: block;
    }
    .banner-Text h1 {
        font-size: 32px;
    }

    .containers {
        padding: 15px;
        gap: 40px;
        margin: 0 0 40px;
    }
    .container h3 {
        font-size: 16px;
    }
    .container h2 {
        margin: 8px 0 16px;
        font-size: 24px;
    }

    footer {
        padding: 32px;
        align-items: center;
    }
    /* 모바일 일때 아래로 보내기*/
    footer p {
        order: 3;
        flex: 100%;
    }
}
