body {
    width: 640px;
    height: 100vh;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

header {
    margin: 0 0 40px;
    height: 132px;
    display: flex;
    justify-content: center;
}

#logo img {
    width: 396px;
    height: 132px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form label {
    font-size: 18px;
    font-weight: 700;
    color: var(--color-gray800);
    position: relative;
}

form input {
    width: 100%;
    height: 56px;
    padding: 16px 24px;
    font-size: 16px;
    font-weight: 400;
    border: 0;
    border-radius: 12px;
    color: var(--color-gray400);
    background-color: var(--color-gray100);
    font-family: inherit;
    margin: 16px 0 24px;
}

input:focus {
    outline: 1px solid var(--color-blue);
}

form .pwd-Eye {
    position: absolute;
    height: 24px;
    right: 24px;
    bottom: 40px;
}

form button {
    width: 100%;
    height: 56px;
    border: 0;
    border-radius: 40px;
    padding: 16px 124px;
    color: var(--color-gray100);
    font-size: 20px;
    font-weight: 600;
}

.platform-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-gray800);
    font-size: 16px;
    font-weight: 500;
    background-color: var(--color-skybleu);
    border-radius: 8px;
    padding: 16px 23px;
}

.platform-logo {
    display: flex;
    gap: 16px;
}

footer {
    margin: 24px 0;
    text-align: center;
    font-size: 14px;
    display: flex;
    justify-content: center;
    gap: 4px;
}

footer a {
    font-size: 15px;
    color: var(--color-blue);
    line-height: 18px;
    text-decoration: underline;
}

@media (max-width: 767px) {
    body {
        width: 100%;
        max-width: 400px;
        padding: 16px;
    }
    header {
        height: 66px;
        margin: 0 0 24px;
    }
    #logo img {
        width: 198px;
        height: 66px;
    }
}
