.allArticle {
  .titleWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    .title {
      font-weight: 700;
      font-size: 2rem;
    }
  }

  .allArticleSectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:first-child {
      padding-bottom: 8px;
    }

    &:nth-child(2) {
      padding-bottom: 16px;
    }
  }

  .allArticleCard {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    background-color: #fcfcfc;
    border-bottom: 1px solid $gray200;
    position: relative;
  }
}
