.articleCard {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: $gray50;
  position: relative;
  border-radius: 8px;

  .articleLink {
    display: block;
    width: 100%;
    height: 100%;
    padding: 50px 24px 24px;
  }

  .bestLabel {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
    background: $clr-blue 25% center no-repeat;
    width: 102px;
    height: 30px;
    padding: 2px 24px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding-left: 4rem;
  }

  .titleWrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .articleCardTitle {
      font-size: 2rem;
      font-weight: 600;
      color: $gray800;
      width: 70%;
      height: 48px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  .articleCardImageWrap {
    position: relative;
    width: 72px;
    height: 72px;
    border-radius: 6px;
    border: 1px solid $gray200;
    overflow: hidden;

    img {
      padding: 5px;
    }
  }

  .articleCardBottom {
    display: flex;
    align-items: center;
    gap: 8px;

    .nickname,
    .likeCount,
    .date {
      font-size: 1.4rem;
      font-weight: 400;
    }

    .nickname {
      color: $gray600;
    }

    .likeCount {
      color: $gray500;
      margin-left: -5px;
    }

    .date {
      margin-left: auto;
      color: $gray400;
    }

    .allArticleMeta {
      display: flex;
      align-items: center;
      flex: 1;
      gap: 8px;

      .date {
        margin-right: auto;
        margin-left: 0;
      }

      .likeCount {
        font-size: 1.6rem;
      }
    }
  }
}
