.bestArticle {
  margin-bottom: 50px;

  .title {
    font-weight: 700;
    font-size: 2rem;
    margin: 20px 0;
  }

  .articleWrap {
    display: flex;
    gap: 24px;

    .bestArticleCard {
      padding: 50px 24px 24px;
      background-color: $gray50;
    }
  }
}
