.item-detail-wrapper {
  position: relative;
  top: 16px;
}

.product-detail {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}

.product-image {
  width: 100%;
  margin-top: 16px;
}

.product-image img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 24px;
}

.product-title {
  font-size: 16px;
  font-weight: 600;
  color: #1f2937;
}

.product-price {
  font-size: 24px;
  font-weight: 600;
  color: #1f2937;
  margin-top: 8px;
}

.product-description p {
  font-size: 16px;
  line-height: 26px;
  color: #1f2937;
  margin-top: 8px;
}

.tags {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

.tag {
  background: #f3f4f6;
  padding: 6px 16px;
  border-radius: 26px;
  font-size: 16px;
  color: #1f2937;
}

.comments {
  height: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0 20px;
}

.comment-title {
  font-size: 20px;
}

.comment {
  border-bottom: 1px solid #e5e7eb;
  padding-bottom: 12px;
  margin-bottom: 12px;
}

.comment-empty {
  font-size: 20px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-user {
  font-size: 14px;
  font-weight: 500;
  color: #4b5563;
  margin-bottom: 4px;
}

.comment-content {
  font-size: 20px;
  font-weight: 400;
  color: var(--gray-900);
  position: relative;
  margin-top: 10px;
}

.back-button {
  width: 100%;
  height: 48px;
  background: #3692ff;
  border: none;
  border-radius: 40px;
  font-size: 18px;
  color: #f3f4f6;
  font-weight: 600;
  margin-top: 24px;
  cursor: pointer;
}

/* Tablet */
@media (min-width: 768px) {
  .item-detail-wrapper {
    top: 20px;
  }

  .product-detail {
    max-width: 700px;
    padding: 0 32px;
  }

  .product-image {
    max-width: 340px;
    margin: 0 auto;
    float: left;
  }

  .product-info {
    padding: 0 10px;
    margin: 0 10px;
  }

  .product-title {
    font-size: 20px;
  }

  .product-price {
    font-size: 28px;
  }

  .product-description p {
    font-size: 18px;
  }

  .comments {
    top: 220px;
    width: 100%;
  }

  .back-button {
    width: 200px;
    margin: 32px auto 0;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  .product-detail {
    max-width: 1200px;
    padding: 0 64px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 32px;
    align-items: flex-start;
  }

  .product-image {
    max-width: 100%;
    border-radius: 12px;
  }

  .product-info {
    padding-left: 0;
  }

  .product-title {
    font-size: 24px;
  }

  .product-price {
    font-size: 32px;
  }

  .product-description p {
    font-size: 20px;
  }

  .tags {
    margin-top: 24px;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
  }

  .back-button {
    width: 250px;
    margin-top: 40px;
  }
}
