.articleDetailTop {
  .articleDetailMeta {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-top: 20px;
  }

  .content {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 26px;
    color: $gray800;
    margin-bottom: 3rem;
  }
}

.articleDetailBottom {
  .CommentForm {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 5rem;

    button {
      margin-left: auto;
    }
  }
}
