.button-section {
  display: flex;
  justify-content: center;
}

.return-button {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: #3692ff;
  padding: 12px 64px;
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  outline: none;
}

.return-button > span {
  font-size: 18px;
  font-weight: 600;
  color: #f3f4f6;
}
