.container {
  width: 1200px;
  margin: auto;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.addItemForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 100px;
}

.addItemHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerTitle {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-gray800);
}

.headerBtn {
  border: none;
  border-radius: 8px;
  padding: 12px 23px;
  background-color: var(--color-theme);
  color: var(--color-gray100);
  font-size: 16px;
  font-weight: 600;
  transition: all 0.1s ease-in-out;
}

.headerBtn:hover {
  background-color: var(--color-theme-hover);
}

.headerBtn:disabled {
  background-color: #868c97;
  cursor: default;
}

.addItemImgBox {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.imgTitle,
.contentsTitle {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-gray800);
}

.imgBox {
  display: flex;
  align-items: center;
  gap: 24px;

  .itemImg {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
    width: 282px;
    height: 282px;
    background-color: var(--color-gray100);
    cursor: pointer;
    border-radius: 12px;

    span {
      font-size: 16px;
      color: var(--color-gray400);
    }
  }
  input {
    display: none;
  }
}

.previewBox {
  width: 282px;
  height: 282px;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 16px;
  position: relative;
}

.previewImg {
  width: 282px;
  height: 282px;
  border-radius: 12px;
  position: absolute;
}

.deleteBtn {
  width: 22px;
  height: 24px;
  background: none;
  border: none;
  margin-top: 10px;
  margin-right: 15px;
  z-index: 10;
}

.errorMsg {
  color: #f74747;
  font-size: 16px;
}

.addItemContentsBox {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contents,
.itemDescription {
  padding: 16px 24px;
  background-color: var(--color-gray100);
  border: none;
  border-radius: 12px;
  font-size: 16px;
  color: var(--color-gray400);

  &::placeholder {
    color: var(--color-gray400);
  }
}

.itemDescription {
  font-family: "Pretendard-Regular";
  color: var(--color-gray400);
  height: 282px;
  resize: none;
  
  &::placeholder {
    color: var(--color-gray400);
  }
}

.tagList {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 0;
}

.tagListItem {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--color-gray100);
  border-radius: 26px;
  padding: 6px 12px;
  font-size: 16px;
  color: var(--color-gray800);
}

.tagDeleteBtn {
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 768px) {
  .imgBox {
    gap: 10px;

    .itemImg {
      width: 168px;
      height: 168px;
    }
  }

  .previewBox {
    width: 168px;
    height: 168px;
  }

  .previewImg {
    width: 168px;
    height: 168px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 696px;
  }

  .deleteBtn {
    top: 12px;
    left: 130px;
  }

  .tagList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .container {
    width: 346px;
  }

  .deleteBtn {
    top: 12px;
    left: 130px;
  }

  .tagList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}