.AddItemPage {
  font-size: 36px;
  max-width: 1200px;
  margin: 70px auto 24px auto;
  margin-top: 100px;
}

@media (max-width: 1200px) {
  .AddItemPage {
    padding: 0 24px;
  }
}

@media (max-width: 744px) {
  .AddItemPage {
    padding: 0 16px;
  }
}

.ImageUpLoad {
  display: flex;
  height: 282px;
  gap: 24px;
}
@media (max-width: 1200px) {
  .ImageUpLoad {
    height: 168px;
  }
}

.Input-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Input-wrap p {
  font-size: 18px;
  font-weight: 700;
}

.Label-Nav {
  display: flex;
  width: 100%;
  height: 42px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 29px;
}

.Label-Nav p {
  font-size: 20px;
  font-weight: 700;
}

.Label-wrap {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  height: inherit;
}
.AddItem-Form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.Register-Button {
  background-color: var(--blue);
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.Register-Button:disabled {
  background-color: var(--gray-400);
  cursor: not-allowed;
}

.TagChip {
  display: flex;
  gap: 12px;
  align-items: center;
}
