.contactContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.commentForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.commentFormItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.itemTitle {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-black);
}

.itemContents {
  background-color: var(--color-gray100);
  border: none;
  border-radius: 12px;
  padding: 16px 24px;
  resize: none;
  font-size: 16px;
  color: var(--color-gray400);
  font-family: inherit;

  &::placeholder {
    color: var(--color-gray400);
  }
}

.submitBtn {
  padding: 12px 23px;
  border: none;
  border-radius: 8px;
  background-color: var(--color-theme);
  color: var(--color-gray100);
  font-size: 16px;
  font-weight: 600;
  width: 74px;
  align-self: flex-end;
  transition: all .1s ease-in-out;
}

.submitBtn:hover {
  background-color: var(--color-theme-hover);
}

.submitBtn:disabled {
  background-color: var(--color-gray400);
  cursor: default;
}

.commentsListBox {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.listContents {
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    font-size: 14px;
    color: var(--color-gray800);
  }

  .editMenuBtn {
    border: none;
    background: none;
  }
}

.modalBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
}

.commentsAuthorBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--color-gray200);
}

.commentAuthorInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;

  h3 {
    font-weight: 500;
    font-size: 14px;
    color: #4b5563;
  }

  span {
    font-size: 14px;
    color: var(--color-gray400);
  }
}

.commentsEmptyBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  span {
    font-size: 16px;
    color: var(--color-gray400);
  }
}

/* 반응형 공통 */
@media (max-width: 767px) {
  .commentsAuthorBox {
    img {
      width: 32px;
      height: 32px;
    }
  }

  .commentAuthorInfo {
    h3 {
      font-size: 12px;
    }

    span {
      font-size: 12px;
    }
  }
}

/* 태블릿 스타일 */
@media (min-width: 768px) and (max-width: 1199px) {
  .itemContents {
    line-height: 26px;
  }
}

/* 모바일 스타일 */
@media (min-width: 375px) and (max-width: 767px) {
  .itemContents {
    font-size: 14px;
    line-height: 24px;
  }
}
