/* css초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Pretendard Variable', Pretendard, 'Noto Sans KR', sans-serif;
}

.login-img {
  width: 396px;
}

.auth-form-container {
  max-width: 640px;
  margin: 0 auto;
}

.auth-home-wrapper {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

#loginForm,
#signupForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.auth-input {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

input {
  font-size: 18px;
  line-height: 26px;
  border: none;
  border-radius: 12px;
  padding: 16px 24px;
  background-color: var(--gray-100);
  width: 100%;
}

input::placeholder {
  color: #9ca3af;
  font-size: 16px;
  line-height: 24px;
}

input:focus {
  outline-color: var(--blue);
}

.easy-login-wrapper {
  display: flex;
  padding: 16px 23px;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  background-color: #e6f2ff;
}

.easy-login-wrapper h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.easy-login-icon {
  display: flex;
  gap: 16px;
}

.auth-label {
  font-weight: 500;
  font-size: 15px;
  text-align: center;
}

.auth-label a {
  color: var(--blue);
  text-decoration: underline;
  text-underline-offset: 2px;
}

.password-input {
  position: relative;
  display: flex;
  align-items: center;
}

.toggle-password-button {
  position: absolute;
  right: 24px;
}

.error-message {
  color: #f74747;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  margin-top: 8px;
  display: none;
  padding-left: 16px;
}

/* Mobile */
@media (max-width: 768px) {
  .login-img {
    width: 198px;
  }

  .login {
    margin-top: 80px;
  }
  .signup {
    margin-top: 24px;
  }

  #loginForm,
  #signupForm {
    max-width: 400px;
    margin: 0 auto;
    gap: 16px;
  }

  .auth-input {
    gap: 8px;
  }

  label {
    font-size: 14px;
    line-height: 24px;
  }

  input {
    font-size: 16px;
    line-height: 26px;
  }

  .auth-label {
    margin-top: 24px;
    padding-bottom: 180px;
  }
}
