:root {
	/* Gray scale */
	--gray-1000: #111827;
	--gray-950: #1f2937;
	--gray-900: #1b1b1f;
	--gray-800: #26282b;
	--gray-700: #374151;
	--gray-600: #454c53;
	--gray-560: #4b5563;
	--gray-550: #6b7280;
	--gray-500: #72787f;
	--gray-400: #9ea4a8;
	--gray-350: #9ca3af;
	--gray-300: #dfdfdf;
	--gray-200: #e5e7eb;
	--gray-100: #e8ebed;
	--gray-50: #f7f7f8;
	--gray-40: #f3f4f6;

	/* Primary color */
	--blue-300: #1251aa;
	--blue-200: #1967d6;
	--blue-100: #3692ff;

	/* Layout dimenstions */
	--header-height: 70px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

button,
input,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	-webkit-appearance: none;
	/* webkit 기반 브라우저의 요소 기본 스타일을 제거하는 속성값, webkit엔진 기반 브라우저 */
	-moz-appearance: none;
	/* mozilla 기반 브라우저의 요소 기본 스타일을 제거하는 속성값, 주로 firefox */
	appearance: none;
	/* html 요소가 플랫폼 스타일을 따를지, 브라우저 스타일을 따를지 결정해줌 */
	/* none으로 설정해주면 브라우저에서 제공되는 스타일이 제거되고 개발자가 직접 스타일링 할 수 잇음 */
}

button {
	background: none;
	border: none;
	outline: none;
	box-shadow: none;
	cursor: pointer;
}

img,
svg {
	vertical-align: bottom;
	/* 이 속성은 주로 inline 요소나, inline-block요소에 적용되며, 요소를 수직방향으로 정렬하는 속성 */
}

body {
	color: var(--gray-700);
	word-break: keep-all;
	/* 텍스트가 줄을 넘어갈 때 단어를 어떻게 처리해 줄지 설정해주는 속성  */
	/* break-all은 단어 경계와 상관없이 필요한 곳에서 단어를 잘라서 줄바꿈 해주며,  */
	/* 긴 단어가 있으면 단어 중간에서 잘라서 줄바꿈함 */
	font-family: "Pretendard", sans-serif;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 16px;
	background-color: white;
	border-bottom: 1px solid var(--gray-300);
	z-index: 999;
}

.withHeader {
	margin-top: var(--header-height);
}

footer {
	background-color: var(--gray-1000);
	color: var(--gray-350);
	font-size: 16px;
	padding: 32px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 60px;
}

#copyright {
	order: 3;
	/* flexbox 내에서 요소의 순서를 나타내는 속성값 */
	flex-basis: 100%;
	/* flexbox 내에서 요소나 아이템의 기본 크기를 설정하는 속성 */
}

#footerMenu {
	display: flex;
	gap: 30px;
	color: var(--gray-200);
}

#socialMedia {
	display: flex;
	gap: 12px;
}

.wrapper {
	width: 100%;
	padding: 0 16px;
}

h1 {
	font-size: 40px;
	font-weight: 700;
	line-height: 56px;
	letter-spacing: 0.02em;
}

.button {
	background-color: var(--blue-100);
	color: white;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.button:hover {
	background-color: var(--blue-200);
}

.button:focus {
	background-color: var(--blue-300);
}

.button:disabled {
	background-color: var(--gray-350);
	cursor: default;
	pointer-events: none;
}

.pill-button {
	font-size: 16px;
	font-weight: 600;
	border-radius: 999px;
	padding: 14.5px 33.5px;
}

.full-width {
	width: 100%;
}

.break-on-desktop {
	display: none;
}

/* 반응형 */
/* Tablet styles */

@media (min-width: 768px) {
	header {
		padding: 0 24px;
	}

	.wrapper {
		padding: 0 24px;
	}

	.pill-button {
		font-size: 20px;
		font-weight: 700;
		padding: 16px 126px;
	}

	footer {
		padding: 32px 104px 108px 104px;
	}

	#copyright {
		flex-basis: auto;
		order: 0;
	}
}

/* Desktop styles */

@media (min-width: 1280px) {
	header {
		padding: 0 200px;
	}

	.wrapper {
		max-width: 1200px;
		margin: 0 auto;
	}

	.break-on-desktop {
		display: inline;
	}

	footer {
		padding: 32px 200px 108px 200px;
	}
}
