@import "@/src/styles/common.scss";

.banner {
  background-color: $color-cfe5ff;
}

.banner-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 1110px;
  height: 540px;
  margin: 0 auto;
  @include background-styles(no-repeat, right bottom, 746px auto);
  background-image: url("/assets/images/Img_home_top.png");

  .banner-txt {
    padding: 100px 0;

    p {
      font-size: 40px;
      font-weight: 700;
      line-height: 56px;
    }

    span {
      display: block;
      margin-top: 32px;
      a {
        display: block;
        width: 357px;
        height: 56px;
        margin: 0 auto;
        line-height: 56px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .banner-wrap {
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 768px;
    height: 771px;
    @include background-styles(no-repeat, center bottom, 100% auto);

    .banner-txt {
      padding: 84px 0;
      text-align: center;

      p {
        > br {
          display: none;
        }
      }

      span {
        margin-top: 24px;
      }
    }
  }
}

@media (max-width: 768px) {
  .banner-wrap {
    height: 540px;

    .banner-txt {
      padding: 48px 0;
      p {
        font-size: 2rem;
        line-height: 44.8px;
        > br {
          display: block;
        }
      }

      span {
        margin-top: 18px;
        a {
          width: 240px;
          height: 48px;
          line-height: 48px;
        }
      }
    }
  }
}
