.mainContents {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contentsBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 720px;
}

.contentsInner {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 64px;

  img {
    width: 50%;
  }
}

.mainDescription {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  word-break: keep-all;

  h2 {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 25.2px;
    color: var(--color-theme);
  }
  h3 {
    font-weight: 700;
    font-size: 4rem;
    line-height: 56px;
    color: var(--color-gray700);
  }
  p {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 28.8px;
  }
}

.second {
  text-align: right;
  flex-direction: row-reverse;
}

@media (max-width: 1199px) {
  .mainContents {
    margin: 24px 0;
    padding: 24px;
    gap: 52px;
  }

  .contentsInner {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;

    img {
      width: 100%;
      object-fit: cover;
      border-radius: 14.2px;
    }
  }

  .second .mainDescription {
    margin-left: auto;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .contentsBox {
    justify-content: flex-start;
    margin-bottom: 52px;
  }

  .contentsInner img {
    height: 524px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .contentsBox {
    height: auto;
  }

  .contentsInner img {
    height: 259px;
  }

  .mainDescription {
    h2,
    p {
      font-size: 1.6rem;
    }

    h3 {
      font-size: 2.4rem;
    }
  }
}