/* css초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Pretendard Variable', Pretendard, 'Noto Sans KR', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* input 요소에 focus in 일 때, 테두리 색상은 #3692FF입니다. (pseudo class를 활용해 보세요. 참고) */
input:focus {
  border: 1px solid #3692ff;
}

.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 640px;
  height: 100%;
  padding: 0 100px;
}
.login-section .login-img {
  width: 396px;
}
.login-section .login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
