.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 696px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 343px;
  }
}
