@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ROKAF-Sans";
  src: url("/fonts/ROKAF-Sans-Bold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-gray50: #f9fafb;
  --color-gray100: #f3f4f6;
  --color-gray200: #E5E7EB;
  --color-gray300: #D1D5DB;
  --color-gray400: #9CA3AF;
  --color-gray500: #6B7280;
  --color-gray700: #374151;
  --color-gray800: #1f2937;
  --color-black: #111827;
  --color-skyblue: #e6f2ff;
  --color-theme: #3692FF;
  --color-theme-hover: #1967D6;
  --color-blue200: #3182f6;
  --color-bg-skyblue: #cfe5ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Pretendard-Regular', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .form-ring {
    @apply focus-within:ring-2 focus-within:ring-[--color-theme];
  }

  .error-text-start {
    @apply text-red-500 font-bold text-sm md:text-base;
  }

  .error-text-center {
    @apply text-red-500 text-center font-bold text-lg;
  }

  .custom-select {
    @apply hidden md:block md:border-[1px] md:border-[--color-gray200] md:px-5 md:py-3 md:rounded-xl md:appearance-none md:bg-[url('/icons/arrow_down.png')] md:bg-no-repeat md:bg-[right_10px_center] md:w-[130px]
  }

  .pagination-number-round {
    @apply flex items-center justify-center border-[1px] rounded-full w-10 h-10 font-semibold p-0 active:bg-[--color-theme]
  }

  .mobile-select-menu {
    @apply w-[100px] py-2 border-[1px] border-[--color-gray300] rounded-lg text-[--color-gray500] bg-white hover:bg-[--color-gray100] z-40 transition-all font-bold
  }

}
