@import "@/styles/common.scss";

.article-wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;

  li {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 24px;
    border-bottom: 1px solid $color-e5e7eb;

    > div {
      display: flex;
      justify-content: space-between;
    }

    div + div {
      align-items: center;
    }
  }
}

.article-wrap.best {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;

  li {
    width: 33.33%;
    padding: 0 24px 16px;
    border-bottom: 0;
  }

  .badge-best {
    height: 30px;
    text-align: left;
  }
}

.content {
  flex: 1;

  a {
    display: block;
    width: 100%;
    color: $color-1f2937;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
  }
}

.profile-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  border: 1px solid $color-f3f4f6;
  border-radius: 8px;
  img {
    width: 100%;
    max-width: 48px;
    height: auto;
  }
}

.user-info {
  display: flex;
  align-items: center;
  gap: 8px;

  span {
    color: $color-black-2;
    font-size: 14px;
    line-height: 24px;
  }
}

.user-img {
  width: 24px;
  height: 24px;
  border-radius: 50%;

  img {
    width: 100%;
    height: auto;
  }
}

.nickname {
  color: $color-black-2;
}

.date {
  color: $color-gray-2;
  font-size: 14px;
}

@media (max-width: 1200px) {
  .article-wrap.best {
    li {
      width: 50%;
    }
  }
}

@media (max-width: 768px) {
  .article-wrap.best {
    li {
      width: 100%;
    }
  }
}
