.section-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.2rem;
  text-align: left;
  padding: 24px 0;
  margin: 0;
}

.create-btn {
  background-color: var(--main);
  border: none;
  color: #fff;
  height: 42px;
  padding: 12px 23px 12px 23px;
  border-radius: 8px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.9rem;
}
.title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-article-box {
  border-bottom: 1px solid var(--gray200);
  background-color: #fcfcfc;
  margin-top: 24px;
}
.main-article-title-image {
  display: flex;
  justify-content: space-between;
}
.main-article-title {
  font-size: 2rem;
  line-height: 3.2rem;
  color: var(--gray800);
  font-weight: 600;
  padding-bottom: 40px;
}
.main-imageBox {
  background-color: #fff;
  width: 72px;
  height: 72px;
  border: 1px solid var(--gray100);
  border-radius: 8px;
  overflow: hidden;
}

.main-article-info {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.main-writer-img {
  background-image: url("/user.png");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
}
.main-writer-inner {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}
.main-writer-nickname,
.main-article-date,
.main-article-like {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
}
.main-writer-nickname {
  color: var(--gray600);
}

.main-article-date {
  color: var(--gray400);
}

.main-article-like {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--gray500);
  display: flex;
  gap: 8px;
  align-items: center;
}
.main-article-like::before {
  content: "";
  display: inline-block;
  background-image: url("/icons/ic_heart.svg");
  width: 20px;
  height: 18px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* 검색 form 스타일  */
.search-order-wrap {
  display: flex;
  align-items: center;
  gap: 16px;
}

.search-form {
  display: flex;
  width: 100%;
}
.search-form::placeholder {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
  color: var(--gray400);
}

.search-input {
  height: 42px;
  width: 100%;
  background-color: var(--gray100);
  display: flex;
  border: none;
  border-radius: 12px;
  outline: none;
  background-image: url("/icons/ic_search.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 16px center;
  padding-left: 44px;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
}

/* best component */

.best-article-item {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.best-article-box {
  position: relative;
  background-color: var(--gray50);
  border-radius: 8px;
  padding: 0 24px 16px;
}
.best-article-title-image {
  display: flex;
  justify-content: space-between;
  margin: 46px 0 35px 0;
}
.best-article-title {
  font-size: 2rem;
  line-height: 3.2rem;
  color: var(--gray800);
  font-weight: 600;
  margin: 0 8px 8px 0;
}
.best-imageBox {
  background-color: #fff;
  width: 72px;
  height: 72px;
  border: 1px solid var(--gray200);
  border-radius: 8px;
  overflow: hidden;
}
.best-writer-nickname,
.best-article-date,
.best-article-like {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
}
.best-writer-img {
  display: none;
}
.best-writer-nickname {
  color: var(--gray600);
  display: flex;
  gap: 8px;
  align-items: center;
}

.best-writer-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.best-article-date {
  color: var(--gray400);
}
.best-article-like {
  color: var(--gray500);
  display: flex;
  top: 0;
  left: 50px;
  gap: 8px;
  align-items: center;
}
.best-article-like::before {
  content: "";
  display: inline-block;
  background-image: url("/icons/ic_heart.svg");
  width: 20px;
  height: 18px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.best-label {
  position: absolute;
  background-color: var(--main);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.6rem;
  text-align: left;
  color: #fff;
  width: 102px;
  border-radius: 0 0 16px 16px;
  padding: 2px 24px;
  display: flex;
  gap: 4px;
  align-items: center;
}

.best-label::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("/icons/ic_medal.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block; /* 또는 block으로 크기 지정 */
}

.main-label {
  display: none;
}

@media screen and (max-width: 992px) {
  .search-order-wrap {
    gap: 6px;
  }
  .section-title {
    padding: 24px 0;
  }

  .best-article-item {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .search-order-wrap {
    gap: 13px;
  }
  .section-title {
    padding-top: 16px;
  }

  .best-article-item {
    grid-template-columns: repeat(1, 1fr);
  }
}
