.article-box {
  border-bottom: 1px solid var(--gray200);
  background-color: #fcfcfc;
  margin-top: 24px;
}
.article-title-image {
  display: flex;
  justify-content: space-between;
}
.article-title {
  font-size: 2rem;
  line-height: 3.2rem;
  color: var(--gray800);
  font-weight: 600;
  padding-bottom: 40px;
}
.imageBox {
  background-color: #fff;
  width: 72px;
  height: 72px;
  border: 1px solid var(--gray100);
  border-radius: 8px;
  overflow: hidden;
}
.article-info {
  display: flex;
  justify-content: space-between;
}

.writer-img {
  background-image: url("/user.png");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
}

.writer-info {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

.writer-nickname,
.article-date,
.article-like {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
}
.writer-nickname {
  color: var(--gray600);
}

.article-date {
  color: var(--gray400);
}

.article-like {
  color: var(--gray500);
  display: flex;
  gap: 8px;
  align-items: center;
}
.article-like::before {
  content: "";
  display: inline-block;
  background-image: url("/icons/ic_heart.svg");
  width: 20px;
  height: 18px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.search-order-wrap {
  display: flex;
  align-items: center;
  gap: 16px;
}

.search-form {
  display: flex;
  width: 100%;
}
.search-form::placeholder {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
  color: var(--gray400);
}

.search-input {
  height: 42px;
  width: 100%;

  background-color: var(--gray100);
  display: flex;
  border: none;
  border-radius: 12px;
  outline: none;
  margin: 24px 0;
  background-image: url("/icons/ic_search.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 16px center;
  padding-left: 44px;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
}
