.bestBoardText {
  width: fit-content;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .bestBoardText {
    width: fit-content;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 24px;
  }

  .bestBoardItemList {
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .bestBoardItemList {
    display: flex;
    gap: 24px;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
