.container {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #e5e7eb;
}

.titleImageWrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
}

.itemImage {
  position: relative;
  width: 72px;
  height: 72px;
  border-radius: 8px;
  border: 0.75px solid #e5e7eb;
}

.nameDateLikeWrap {
  display: flex;
  justify-content: space-between;
}

.profileNameDateWrap {
  display: flex;
  gap: 8px;
}

.profile {
  position: relative;
  width: 24px;
  height: 24px;
}

.nickname {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #4b5563;
}

.date {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #9ca3af;
}

.likeCount {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6b7280;
}

@media screen and (min-width: 768px) {
  .title {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
  }
}
