@import "@/styles/common.scss";

.dropdown-menu {
  position: relative;
  flex: 0 0 130px;
  border-radius: 12px;
  border: 1px solid $color-e5e7eb;
  background: #fff;

  button {
    display: block;
    width: 100%;
    height: 42px;
    padding: 12px 20px;
    color: $color-1f2937;
    text-align: left;
  }
}
.menu-box {
  position: absolute;
  left: 0;
  top: 45px;
  width: 130px;
  padding: 12px 20px;
  border-radius: 12px;
  border: 1px solid $color-e5e7eb;
  background: #fff;

  button {
    height: auto;
    padding: 5px 0;
  }
}

.menu-box.open {
  border: 1px solid red;
}
