.image-label {
  color: var(--gray800);
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 700;
}
.image-input {
  border-radius: 12px;
  background-color: var(--gray100);
  width: 282px;
  height: 282px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-icon-text {
  display: flex;
  flex-direction: column;
}
.bg-icon {
  background-image: url("/icons/ic_plus.svg");
  background-position: bottom 38px;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}
.input-text {
  color: var(--gray400);
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
  cursor: pointer;
}
.relative {
  position: relative;
  display: flex;
  gap: 20px;
}
.preview {
  border-radius: 12px;
  overflow: hidden;
}
.delete-btn {
  position: absolute;
  top: 8px;
  left: calc(282px + 282px - 8px);
  background-color: var(--gray400);
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
