.footer {
  background-color: var(--gray900);
  height: 160px;
}
.wrap {
  display: flex;
  justify-content: space-between;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding: 32px 0;
}

.company {
  color: var(--gray400);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
  text-align: center;
}
.policy-faq-wrap {
  display: flex;
  gap: 30px;
}
.policy,
.faq {
  color: var(--gray200);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
}
.links {
  display: flex;
  color: #fff;
  gap: 12px;
}

@media screen and (max-width: 992px) {
  .wrap {
    width: 696px;
  }
}

@media screen and (max-width: 767px) {
  .wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
    padding: 32px 16px 65px 16px;
    margin: 0;
    width: 100%;
  }

  .company {
    grid-column: 1;
    grid-row: 2;
    text-align: left;
  }
  .policy-faq-wrap {
    grid-column: 1;
    grid-row: 1;
  }

  .links {
    display: flex;
    justify-content: end;
    grid-row: 1;
  }
}
