.header {
  display: flex;
  padding: 0 200px 0 200px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-gray-1);
}

.gnb {
  display: flex;
  gap:32px;
  align-items: center;
}

.gnb h1 {
  background-image: url(/panda.png);
  background-size: 100%;
  width: 153px;
  height: 51px;

}

.gnb-menu-container {
  display: flex; 
}

.gnb-menu {
  padding: 21px 15px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: var(--text-gray-3);
}

@media (max-width:1280px) {
  .header {
    padding: 0 24px;
  }

  .gnb {
    gap: 20px;
  }

  
}

@media (max-width:768px) {
  .header {
    padding: 0 16px;
  }

  .gnb {
    gap: 8px;
  }

  .gnb h1 {
    background-image: url(/logo.png);
    background-size: 100%;
    width: 81px;
    height: 40px;
  }

  .gnb-menu-container{
    gap: 8px;
  }
  .gnb-menu {
    padding: 22px 0;
}
}