.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 43px 0 58px;
}

.pagination button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 4px;
  padding: 12.5px;
  border: 0;
  border-radius: 9999px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #6b7280;
}

.pagination button.active {
  background-color: #2f80ed;
  color: #f9fafb;
}

@media (max-width: 1200px) {
  .pagination {
    padding: 40px 0 72px;
  }
}

@media (max-width: 768px) {
  .pagination {
    padding: 40px 0 35px;
  }
}
