.input {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 12px;
  background-color: var(--gray100);
  padding: 16px 24px 14px;
  font-size: 1.6rem;
  line-height: 2.6rem;
}
.input::placeholder {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--gray400);
}
.input:focus {
  outline: none;
}

.label {
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 700;
  color: var(--gray800);
}
.label-input {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
