.paginationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.pageNumberBox {
  display: flex;
  align-items: center;
  gap: 4px;
}

.numberBoxBtn,
.pageNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: 1px solid var(--color-gray200);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  padding: 0;
}

.numberBoxBtn:active {
  background-color: var(--color-theme);
}

.pageNumber.current {
  background-color: var(--color-theme);
  color: white;
}