.add-item-container {
  width: 346px;
  margin: 0 auto;
}

.item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.item-title {
  font-size: 20px;
  line-height: 32px;
  color: var(--gray-800);
  font-weight: 700;
  margin-top: 5px;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.form-group label {
  margin-bottom: 10px;
  color: var(--gray-800);
  font-weight: 700;
}

input[type="text"],
input[type="number"],
textarea {
  width: 346px;
  padding: 10px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  background-color: var(--gray-100);
}

input[type="text"]::placeholder,
input[type="number"]::placeholder,
textarea::placeholder {
  color: var(--gray-400);
}

textarea {
  height: 282px;
}

.image-error-message {
  color: var(--red);
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.tag-item {
  display: inline-flex;
  align-items: center;
  background-color: var(--gray-100);
  border-radius: 26px;
  padding: 6px 12px;
  gap: 10px;
}

.remove-tag-button {
  background-color: var(--gray-400); /* 회색 배경 */
  border: none;
  border-radius: 50%; /* 둥글게 */
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
  padding: 0;
}

.submit-button {
  width: auto;
  padding: 12px 23px;
  background-color: var(--blue-100);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.submit-button[disabled] {
  background-color: var(--gray-400);
  cursor: not-allowed;
}

/* tablet */
@media (min-width: 768px) {
  .add-item-container {
    width: 696px;
  }

  .form-group {
    flex-direction: row;
    align-items: center;
  }

  .form-group label {
    width: 30%;
    margin-right: 20px;
  }

  .form-group input,
  .form-group textarea {
    width: 768px;
  }
}

/* desktop */
@media (min-width: 1280px) {
  .add-item-container {
    width: 1200px;
    padding: 15px;
  }

  .form-group {
    margin-bottom: 15px;
    flex-direction: row;
  }

  .form-group input,
  .form-group textarea {
    width: 1200px;
  }

  .button-group {
    width: 100%;
    margin-top: 15px;
  }

  .tags {
    flex-wrap: wrap;
    gap: 5px;
  }

  .tag-item {
    padding: 6px 10px;
    font-size: 14px;
  }
}
