.titleWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.title {
  font-weight: 700;
  font-size: 2rem;
  color: $gray800;
}

.lineDividerWidth {
  width: 100%;
  border: none;
  height: 1px;
  background-color: $gray200;
  margin: 16px 0;
}

.lineDividerHieght {
  width: 1.5px;
  border: none;
  height: 24px;
  background-color: $gray200;
}
