.InputItem {
  label {
    display: block;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 12px;

    @include tablet {
      font-size: 1.4rem;
    }
  }

  input,
  textarea {
    padding: 16px 24px;
    background-color: $gray100;
    color: $gray800;
    border: none;
    border-radius: 12px;
    font-size: 1.6rem;
    line-height: 24px;
    width: 100%;

    &::placeholder {
      color: $gray400;
    }

    &:focus {
      outline-color: $clr-blue;
    }
  }

  textarea {
    height: 100px;
    resize: none;
  }

  .errorMessage {
    color: $clr-red;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 18px;
    margin-top: 8px;
    display: block;
  }
}
