.mainContainer {
  width: 1200px;
  margin: 0 auto;
}

.bestProductContainer {
  margin-top: 24px;
}

.bestProductTitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  color: #111827;
}

.bestProductList {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.allProductContainer {
  margin-top: 45px;
}

.allProductNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.allProductTitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  color: #111827;
}

.allProductManu {
  display: flex;
  gap: 12px;
}

.allProductSearch {
  background: #f3f4f6 url(../assets/search.png) no-repeat 16px center / 24px
    24px;
  border-radius: 12px;
  border: none;
  width: 325px;
  padding: 9px 20px 9px 44px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.allProductSearch:focus {
  background-image: url(../assets/search-focus.png);
  border: 1px solid #3692ff;
  outline: none;
}

.allProductRegist {
  background-color: #3692ff;
  color: #f3f4f6;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  padding: 12px 23px;
  border-radius: 8px;
}

.allProductOrders {
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  padding: 12px 20px;
  color: #1f2937;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.allProductList {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px 24px;
}

.pagenationContainer {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding: 43px;
}

@media (max-width: 1199px) {
  .headerContainer {
    padding: 10px 24px;
  }

  .mainContainer {
    width: 100%;
    padding: 0 24px;
  }

  .bestProductList {
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    gap: 10px;
  }

  .allProductList {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 16px;
  }

  .bestProductList:nth-child(n + 6) {
    display: none;
  }
}

@media (max-width: 767px) {
  .headerContainer {
    padding: 10px 16px;
  }

  .mainContainer {
    width: 100%;
    padding: 0 24px;
  }

  .bestProductList {
    grid-template-columns: repeat(1, 1fr);
  }

  .allProductList {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 8px;
  }
}
