.pageName {
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 700;
  margin-top: 29px;
}
.addForm {
  display: flex;
  flex-direction: column;
}

.labelName {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6rem;
}
.addForm input,
.addForm textarea {
  background-color: #f3f4f6;
  height: 56px;
  padding: 16px 24px 14px;
  border: none;
  border-radius: 12px;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #000;
}
.addForm input,
.addForm textarea:focus {
  outline: none;
}

.addForm input::placeholder,
.addForm textarea::placeholder {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #9ca3af;
}

.addForm textarea {
  height: 282px;
  resize: none;
}
.addForm {
  position: relative;
}
.addBtn {
  position: absolute;
  top: 32px;
  right: 0;
  background-color: #3692ff;
  color: #fff;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  height: 42px;
  padding: 8px 23px;
  cursor: pointer;
}
.disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}
