header {
    padding: 0 200px;
    border-bottom: 1px solid #dfdfdf;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
}

.logoText {
    display: none;
}

.leftMenu {
    display: flex;
    align-items: center;
}

.leftMenu a {
    padding: 21px 15px;
    font-size: 18px;
    font-weight: 700;
    color: var(--gray600);
    white-space: nowrap;
}

.leftMenu .selected {
    color: var(--blue);
}

@media (max-width: 1200px) {
    header {
        padding: 0 24px;
    }
}

@media (max-width: 767px) {
    header {
        padding: 0 16px;
    }

    .leftMenu {
        gap: 8px;
    }

    .logoIcon {
        display: none;
    }

    .logoText {
        display: block;
    }

    .leftMenu a {
        font-size: 16px;
        padding: 0;
    }
}
