.menuBox {
  position: absolute;
  top: 60px;
  right: 205px;
}

.menuBtn {
  width: 139px;
  padding: 16px 0 12px 0;
  border: 1px solid var(--color-gray300);
  border-radius: 8px;
  font-size: 16px;
  color: var(--color-gray500);
  background-color: white;
  z-index: 40;
  transition: all 0.1s ease-in-out;
}
