@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

/* --- reset css --- */
* {
  margin: 0;
  padding: 0;
  font-family: "Pretendard-Regular";
  box-sizing: border-box;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ol,
ul,
li {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  cursor: pointer;
}
select {
  -webkit-appearance: none; /* Remove default styling in webkit browsers */
  -moz-appearance: none; /* Remove default styling in Firefox */
  appearance: none; /* Remove default styling in modern browsers */
}
/* --- reset css --- */

/* --- common css --- */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  --color-white: #ffffff;
  --color-white-2: #e5e7eb;
  --color-gray-1: #374151;
  --color-gray-2: #9ca3af;
  --color-black: #1f2937;
  --color-theme: #3692ff;
  --color-theme-hover: #1967d6;
  --color-bg-skyblue: #cfe5ff;
  --color-bg-footer: #111827;
  --color-bg-input: #f3f4f6;
  --color-bg-sns: #e6f2ff;
  --color-error: #f74747;
}

input:focus {
  outline-color: #3692ff;
  color: var(--color-black);
}

input::placeholder {
  color: var(--color-gray-2);
  font-size: 16px;
}

.form_input {
  display: block;
  width: 100%;
  height: 56px;
  margin-top: 15px;
  padding: 15px 24px;
  background-color: var(--color-bg-input);
  border: 0;
  border-radius: 12px;
}

.wrap_inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.wrap_inner2 {
  width: 640px;
  max-width: 100%;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .wrap_inner {
    padding: 3.22%;
  }
  .wrap_inner2 {
    width: 100%;
    padding: 0 4.33%;
  }
}

@media (max-width: 768px) {
  .wrap_inner {
    padding: 4%;
  }
  .wrap_inner2 {
    padding: 0 4.26%;
  }
}
