.formContainer {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.addTitle {
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 700;
  line-height: 42px;
  color:#1F2937 ;
}

.resigterBtn {
  border: none;
  background-color: #9CA3AF;
  padding: 8px 23px;
  color: #F3F4F6;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  height: 42px;
  position: absolute;
  right: 0;
  top: 0;
}

.submitBtn {
  background-color: #3692FF;
  cursor: pointer;
}

.addForm {
  display: flex;
  flex-direction: column;
}

.addForm label {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color:#1F2937 ;
  display: inline-block;
}

.addForm input {
  width: 100%;
  height: 56px ;
  margin-bottom: 32px;
  border: none;
  border-radius: 12px;
  background-color: #F3F4F6;
  padding: 16px 24px;
  display: block;
}

.addForm input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #9CA3AF;
  font-family: "Pretendard Variable", Pretendard;
}

.addForm textarea {
  width: 100%;
  height: 282px;
  margin-bottom: 32px;
  border: none;
  border-radius: 12px;
  background-color: #F3F4F6;
  padding: 16px 24px;
  display: block;
  resize: none;
}

.addForm textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #9CA3AF;
  font-family: "Pretendard Variable", Pretendard;
}

.tagArr {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.tag{
  display: flex;
  gap: 8px;
  padding: 5px 12px 5px 16px ;
  background-color: #F3F4F6;
  height: 36px;
  border-radius: 26px;
  align-items: center;
}

.tagText {
  display: inline-block;
  color: #1F2937;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.tagRemoveBtn {
  border: none;
  background-image: url(../assets/ic_X.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 22px;
  height: 24px;
  cursor: pointer;
}

@media (max-width:1200px) {
  .formContainer {
    margin: 0 24px;
  }
}

@media (max-width:768px) {
  .formContainer {
    margin: 0 15px;
  }
}