.formContainer {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.addTitle {
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 700;
  line-height: 42px;
  color:#1F2937 ;
}

.resigterBtn {
  border: none;
  background-color: #9CA3AF;
  padding: 8px 23px;
  color: #F3F4F6;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  height: 42px;
  position: absolute;
  right: 0;
  top: 0;
}

.submitBtn {
  background-color: #3692FF;
}


.addForm {
  display: flex;
  flex-direction: column;
}

.addForm > label {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color:#1F2937 ;
}

.addForm > input {
  height: 56px ;
  margin-bottom: 32px;
  border: none;
  border-radius: 12px;
  background-color: #F3F4F6;
  padding: 16px 24px;
}

.addForm > input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #9CA3AF;
  font-family: "Pretendard Variable", Pretendard;
}



#productDescription {
  height: 282px;
  margin-bottom: 32px;
  border: none;
  border-radius: 12px;
  background-color: #F3F4F6;
  padding: 16px 24px;
 
}

#productDescription::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #9CA3AF;
  font-family: "Pretendard Variable", Pretendard;
}




@media (max-width:1200px) {
  .formContainer {
    width: 744px;
  }
}

@media (max-width:768px) {
  .formContainer {
    width: 376px;
  }
}