html {
  font-family: "Pretendard", "sans-serif";
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: "Pretendard";
}
h1,
h2,
p,
ul,
li,
span {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:link {
  color: inherit;
}
a:visited {
  color: inherit;
}
a:active {
  color: #3692ff;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}

.navbar .category .active {
  color: #3692ff;
}
nav {
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 10px;
  z-index: 99;
}
.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5%;
  gap: 40px;
}
.category {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 40px;
  padding: 0 8px;
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 600;
  color: #4b5563;
}
.my-profile-btn {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
}
.my-profile {
  width: 100%;
  height: 100%;
  background-image: url(../img/profile_guest.png);
  background-position: center;
  background-size: cover;
}
main {
  display: flex;
  flex-direction: column;
  margin: 94px auto;
  margin-bottom: 222px;
  width: 1200px;
}

.section-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0 16px;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 700;
  color: #111827;
}

.item-option {
  display: flex;
  gap: 12px;
}

.select-order {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 8px;
  width: 130px;
}
.select-order button {
  height: 42px;
  background-color: #fff;
}
.current-order {
  background: url("../img/ic_arrow_down.png") no-repeat right 20px center;
  background-size: 24px;
  text-align: left;
  padding: 12px 20px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
}

.option-order {
  visibility: hidden;
  display: flex;
  position: absolute;
  width: 130px;
  top: 50px;
  flex-direction: column;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  text-align: center;
}
.active {
  visibility: visible;
}
.option-order button {
  border: none;
}

.option-order li:first-child {
  border-bottom: 1px solid #e5e7eb; /* 버튼 사이에 줄 추가 */
}

.search-wrapper {
  display: flex;
  align-items: center;
  background-color: #f3f4f6;
  padding: 9px 16px;
  border-radius: 8px;
  width: 320px;
  height: 42px;
}
.search-input {
  background-color: #f3f4f6;
  border: none;
  width: 250px;
  padding-right: 40px;
}
.search-input::placeholder {
  color: #9ca3af;
  font-size: 1.6rem;
}
.search-input:focus {
  outline: none;
}
.add-btn {
  width: 132px;
  height: 42px;
  border-radius: 8px;
  border: none;
  background-color: #3692ff;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
}

.best-items ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0;
  margin: 0;
  gap: 24px;
}
.all-items ul {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(5, 1fr);
  padding: 0;
  margin: 0;
  gap: 24px;
}

.best-items .product-img {
  width: 100%;
  height: 100%;
}

.all-items .product-img {
  object-fit: cover;
}
.img-box {
  border-radius: 16px;
  overflow: hidden;
}

.panda-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item-description {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.item-name {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 600;
}
.item-price {
  font-size: 1.6rem;
  line-height: 2.6rem;
}
.favorite-count {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.favorite-count .p {
  font-size: 1.6rem;
  line-height: 1.6rem;
}
@media screen and (max-width: 992px) {
  main {
    margin: 94px 24px 243px;
    width: auto;
  }
  .best-items ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .all-items ul {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .all-items .img-box {
    width: 100%;
    aspect-ratio: 1 /1;
    overflow: hidden;
  }

  .img-box img {
    border-radius: 16px;
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 781px) {
  main {
    margin-right: 14px;
    margin-left: 15px;
    margin-bottom: 65px;
  }
  .category {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
  .best-items ul {
    grid-template-columns: 1fr;
  }
  .all-items ul {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
  section {
    margin: 0 15px;
  }

  #section-all .section-title-wrapper {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    height: 100%;
  }
  #section-all h2 {
    margin: 10px 0;
  }
  .add-btn {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .select-order .current-order {
    background: url("../img/ic_sort.png") no-repeat center;
    background-size: 24px;
    width: 42px;
    font-size: 0;
  }
  .item-option {
    width: 100%;
  }
  .search-wrapper {
    display: flex;
    align-items: center;
    background-color: #f3f4f6;
    padding: 9px 16px;
    border-radius: 8px;
    width: 80%;
    height: 42px;
  }
}
