html {
  font-family: "Pretendard", "sans-serif";
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:link {
  color: inherit;
}
a:visited {
  color: inherit;
}
a:active {
  color: #3692ff;
}
.navbar .category .active {
  color: #3692ff;
}
nav {
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 10px;
  z-index: 99;
}
.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5%;
  gap: 40px;
}
.category {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 40px;
  padding: 0 8px;
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 600;
  color: #4b5563;
}

main {
  display: flex;
  flex-direction: column;
  margin: 70px auto;
  width: 1200px;
}
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.section-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0 16px;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 700;
  color: #111827;
}

.item-option {
  display: flex;
  gap: 12px;
}

.select-order {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 8px;
  width: 130px;
}
.select-order button {
  height: 42px;
  background-color: #fff;
}
.current-order {
  background: url("../img/ic_arrow_down.png") no-repeat right 20px center;
  background-size: 24px;
  text-align: left;
  padding: 12px 20px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
}

.option-order {
  visibility: hidden;
  display: flex;
  position: absolute;
  width: 130px;
  top: 50px;
  flex-direction: column;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  text-align: center;
}
.active {
  visibility: visible;
}
.option-order button {
  border: none;
}

.option-order li:first-child {
  border-bottom: 1px solid #e5e7eb; /* 버튼 사이에 줄 추가 */
}

.search-wrapper {
  display: flex;
  align-items: center;
  background-color: #f3f4f6;
  padding: 9px 16px;
  border-radius: 8px;
  width: 320px;
  height: 42px;
}
.search-input {
  background-color: #f3f4f6;
  border: none;
  width: 250px;
  padding-right: 40px;
}
.search-input::placeholder {
  color: #9ca3af;
  font-size: 1.6rem;
}
.search-input:focus {
  outline: none;
}
.add-btn {
  width: 132px;
  height: 42px;
  border-radius: 8px;
  border: none;
  background-color: #3692ff;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
}

.best-items ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0;
  margin: 0;
  gap: 24px;
}
.all-items ul {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(5, 1fr);
  padding: 0;
  margin: 0;
  gap: 24px;
}

.best-items .product-img {
  width: 100%;
  height: 100%;
}
.img-box {
  border-radius: 16px;
  overflow: hidden;
}

.panda-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item-description {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.item-name {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 600;
}
.item-price {
  font-size: 1.6rem;
  line-height: 2.6rem;
}
.favorite-count {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.favorite-count .p {
  font-size: 1.6rem;
  line-height: 1.6rem;
}
