.item-detail-container {
  margin-top: 24px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  gap: 24px;
}

.item-images {
  margin-top: 5px;
  width: 486px;
  height: 486px;
  object-fit: cover;
}

.item-detail {
  flex: 1;
  height: 496px;
  position: relative;
}

.item-name {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #1f2937;
}

.item-price {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
  line-height: 47.73px;
  color: #1f2937;
}

.hr {
  border: 1px solid #e5e7eb;
}

.container-label {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: #4b5563;
}

.item-description {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #4b5563;
}

.item-tag {
  background-color: #f3f4f6;
  border-radius: 12px;
  padding: 6px 12px;
}

.item-favorite-count {
  background-color: #fff;
  position: absolute;
  right: 0;
  bottom: 5px;
  border: 1px solid #e5e7eb;
  border-radius: 35px;
  padding: 4px 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.seller-container {
  position: absolute;
  bottom: 0;
  display: flex;
  gap: 16px;
}

.seller-detail {
  display: flex;
  flex-direction: column;
}

.seller-name {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #4b5563;
}

.seller-date {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #9ca3af;
}
