.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-layout {
  width: 1200px;
}

.item-container {
  margin-bottom: 40px;
}

.item-container h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  color: #111827;
  margin-bottom: 16px;
  display: block;
  margin-top: 0;
}

