.pagenation-contatiner {
  justify-content: center;
  margin-top: 43px;
  display: flex;
  gap: 4px;
  padding: 0;
}

.pagenation-btn {
  width: 40px;
  height: 40px;
  border: 1px solid #E5E7EB;
  border-radius: 50%;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: #6B7280;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
}

.current-page {
  background-color:#2F80ED ;
  color: #FFFFFF;
}

.pagenation-btn:disabled {
  pointer-events: none;
}

