* {
  font-family: "Pretendard", sans-serif;
}

.products-list,
.best-product-list {
  display: grid;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #1f2937;
  gap: 24px;
}

/* 베스트 상품 리스트 기본 설정 */
.best-product-list {
  grid-template: 1fr / repeat(4, 1fr);
}

.best-product-list li:nth-child(n + 5) {
  display: none;
}

.best-product-list li {
  width: 282px;
}

/* 베스트 상품 카드 이미지 크기 설정 */
.best-product-list li img {
  width: 282px;
  height: 282px;
}

/* 전체 상품 리스트 기본 설정 */
.products-list {
  grid-template-columns: repeat(5, 1fr); /* 데스크탑: 10개 */
}

.products-list li:nth-child(n + 11) {
  display: none;
}

.products-list li {
  width: 221px;
}

/* 전체 상품 카드 이미지 크기 설정 */
.products-list li img {
  width: 221px;
  height: 221px;
}

/* 상품 설명 텍스트 설정 */
.product-list-text {
  margin-top: 16px;
}

/* 제목 스타일 설정 */
.best-product-title,
.product-title {
  font-size: 20px;
  font-weight: 700;
  color: #111827;
  margin: 0;
}

/* 베스트 상품 제목 추가 마진 설정 */
.best-product-title {
  margin: 24px 0 16px;
}

/* 상품 설명, 가격, 좋아요 수 텍스트 설정 */
.product-description {
  font-size: 14px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 6px;
}

.product-price {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 6px;
}

.product-favoritecount {
  font-size: 12px;
  font-weight: 500;
  color: #4b5563;
  margin-top: 0;
  margin-bottom: 6px;
}

.product-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 24px;
}

/* 폼 스타일 설정 */
.product-form {
  display: flex;
  gap: 12px;
  align-items: center;
  height: 100%;
}

/* 입력창 스타일 설정 */
.product-form-input {
  padding: 9px 20px;
  width: 325px;
  height: 42px;
  border: 0;
  border-radius: 12px;
  background-color: #f3f4f6;
  font-size: 16px;
  font-weight: 400;
  color: #9ca3af;
}

/* 버튼 스타일 설정 */
.product-form-button {
  width: 153px;
  height: 42px;
  padding: 12px 23px;
  background-color: #3692ff;
  font-size: 16px;
  font-weight: 600;
  color: #f3f4f6;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

/* 드롭다운 옵션 스타일 설정 */
.product-form-options {
  display: flex;
  align-items: center;
  width: 130px;
  height: 42px;
  padding: 12px 20px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  color: #1f2937;
}

/* 미디어 쿼리: 화면 크기에 따라 베스트 상품 개수 조정 */
@media (max-width: 1200px) {
  .best-product-list {
    grid-template-columns: repeat(2, 1fr);
    height: 430px;
    gap: 10px;
  }

  .best-product-list li:nth-child(n + 3) {
    display: none;
  }

  .best-product-list li img {
    width: 343px;
    height: 343px;
  }

  .products-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  .products-list li:nth-child(n + 7) {
    display: none;
  }

  .product-form-input {
    width: 242px;
  }
}

@media (max-width: 768px) {
  .best-product-list {
    grid-template-columns: 1fr; /* 모바일: 1개 */
  }

  .best-product-list li:nth-child(n + 2) {
    display: none;
  }

  .products-list {
    gap: 8px;
    height: 500px;
    grid-template-columns: repeat(2, 1fr);
  }

  .products-list li:nth-child(n + 5) {
    display: none;
  }

  .products-list li {
    width: 168px;
  }

  .products-list li img {
    width: 168px;
    height: 168px;
  }
}
