#search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#search-bar .right {
  display: flex;
  gap: 10px;
  align-items: center;
}

#search-bar input {
  background-color: var(--gray-200);
  width: 325px;
  height: 42px;
  border-radius: 12px;
  padding: 9px 20px 9px 16px;
  border: none;
}

#search-bar button {
  background-color: var(--blue);
  border: none;
  height: 42px;
  border-radius: 8px;
  padding: 12px 23px;
}

#search-bar select {
  border: 1px solid #e5e7eb;
  padding: 12px 20px;
  border-radius: 12px;
}

#product-lists {
  display: grid;
  grid-template-columns: repeat(5, 250px);
  row-gap: 40px;
}
