.product-list {
  display: flex;
  gap: 24px;
  padding: 0;
  flex-wrap: wrap;
}

.product-list li {
  list-style: none;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.product-item-container {
  overflow: hidden;
  border-radius: 16px;
}

.product-list.total > li {
  width: 220px;
}

.product-list.total .product-item-container {
  height: 220px;
}

.product-item-container .product-img {
  display: block;
  margin-left: -11px;
  width: auto;
  height: 105%;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.product-info .like {
  display: flex;
  align-items: center;
  gap: 4px;
}

.like-img {
  width: 14px;
  height: 14px;
  text-align: center;
}

.description {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #1f2937;
}

.price {
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  color: #1f2937;
}

.favorite-count {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #4b5563;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form {
  display: flex;
  gap: 12px;
}

.search-container {
  background-color: #f3f4f6;
  border-radius: 12px;
  display: flex;
  align-items: center;
}

.search-icon {
  width: 24px;
  height: 24px;
  background-image: url(../assets/ic_search.png);
  background-size: cover;
  border: none;
  margin-left: 16px;
}

.search-input {
  width: 325px;
  height: 42px;
  border: none;
  background-color: transparent;
  outline: none;
}

.search-input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #9ca3af;
}

.item-add-btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: #f3f4f6 !important;
  padding: 8px 24px;
  border: none;
  border-radius: 8px;
  background-color: #3692ff;
  cursor: pointer;
}

.select-btn {
  background-image: url("../assets/ic_arrow_down.png");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 90px 10px;
  text-align: left;
}

.order-btn {
  background-color: #ffffff;
  width: 130px;
  height: 42px;
  border: 1px solid #e5e7eb;
  cursor: pointer;
  padding: 12px 20px;
  border-radius: 12px;
}

.select-container {
  position: relative;
}

.order {
  position: absolute;
  z-index: 2;
  bottom: -95px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  overflow: hidden;
}

.order .order-btn {
  border: 0 none;
  border-top: 1px solid #e5e7eb;
  border-radius: 0;
}

.order .order-btn:first-child {
  border-top: 0;
}

@media (max-width: 1200px) {
  .main-layout {
    width: 710px;
  }
  .search-input {
    width: 242px;
  }
}

@media (max-width: 768px) {
  .main-layout {
    width: 344px;
  }

  .search-form {
    height: 92px;
    height: 92px;
  }

  .search-bar {
    position: relative;
  }

  .search-bar > h2 {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
  }

  .item-add-btn {
    position: absolute;
    top: 0;
    right: 0;
  }

  .search-container {
    width: 288px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .select-container {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .select-btn.order-btn {
    width: 42px;
    height: 42px;
    background-image: url("../assets/Group\ 33732.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 13.5px 11px;
    color: transparent;
    overflow: hidden;
    text-indent: -9999px;
  }

  .order {
    bottom: -95px;
    right: 0;
    border: 1px solid #e5e7eb;
  }
}
