.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 24px 0;
}

.itemList {
    display: flex;
    flex-direction: column;
    width: 1200px;
    gap: 24px;
}

.topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.topNav h2 {
    font-size: 20px;
    color: var(--gray900);
    white-space: nowrap;
}

.topNavRigth {
    display: flex;
    gap: 12px;
    position: relative;
}

.topNavRigth .searchIcon {
    position: absolute;
    top: 9px;
    left: 16px;
}

.topNavRigth input {
    background-color: var(--gray100);
    padding: 9px 20px 9px 44px;
    width: 325px;
    height: 42px;
    font-family: inherit;
    border: 0;
    border-radius: 12px;
}

.topNav a {
    display: flex;
    align-items: center;
    padding: 12px 23px;
    height: 42px;
    background-color: var(--blue);
    color: var(--gray100);
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    white-space: nowrap;
}

.topNav select {
    padding: 12px 20px;
    border: 1px solid var(--gray200);
    border-radius: 12px;
    width: 130px;
}

.items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px 24px;
}

.bestItems {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

@media (max-width: 1200px) {
    .itemList {
        width: 100%;
        padding: 24px;
    }

    .items {
        grid-template-columns: repeat(3, 1fr);
    }

    .topNav input {
        width: 242px;
    }

    .bestItems {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .items {
        grid-template-columns: repeat(2, 1fr);
    }
    .topNavRigth {
        margin-top: 8px;
        flex: 100%;
    }
    .topNav input {
        flex: 100%;
    }
    .bestItems {
        grid-template-columns: repeat(1, 1fr);
    }
}
