.container {
  width: 70%;
  padding: 10px;
  padding-bottom: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
}

.additem {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  color: #1f2937;
}

.additem-btn {
  width: 74px;
  height: 42px;
  border: none;
  border-radius: 8px;
  gap: 10px;
  background-color: #9ca3af;
  color: white;
}

.additem-btn.active {
  background-color: #3692ff;
}

.fileSelect {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  text-align: start;
  gap: 10px;
  font-size: 16px;
}
.main label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #1f2937;
  margin-bottom: 20px;
}
.main input {
  width: 100%;
  border: none;
  border-radius: 12px;
  padding: 16px 24px 16px 24px;
  gap: 10px;
  background-color: #f3f4f6;
}

.addimg-box {
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
  gap: 20px;
}

.imgBox {
  width: 282px;
  height: 282px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border-radius: 16px;
  background-color: #f3f4f6;
}

.preview {
  width: 282px;
  height: 282px;
  border: 0.1px solid white;
  border-radius: 12px;
}

.previewImg {
  width: 282px;
  height: 282px;
  border: 0px solid white;
  border-radius: 12px;
}
.errorMessage {
  display: none;
}

.input-content {
  height: 300px;
}

.input-content::placeholder {
  position: relative;
  top: -120px;
}

.show-box {
  width: 282px;
  height: 282px;
  border-radius: 16px;
  background-color: #f3f4f6;
}

.tag-box {
  display: flex;
  gap: 10px;
}
.add-tag {
  width: 110px;
  height: 36px;
  border: none;
  border-radius: 26px;
  background-color: #f3f4f6;
  text-align: center;
  margin-top: 10px;
  padding-top: 5px;
}

/* 태블릿 사이즈 */
@media screen and (max-width: 1199px) {
  .container {
    width: 90%;
  }
  .show-box .plus-img {
    width: 168px;
    height: 168px;
  }
}
/* 모바일 사이즈 */
@media screen and (max-width: 767px) {
  .container {
    width: 90%;
  }
  .show-box .plus-img {
    width: 168px;
    height: 168px;
  }
}
