.products-wrap {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 20px;
}
.pagination {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 4px;
  justify-content: center;
  padding: 30px 0;
}

.pagination button {
  background-color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  width: 40px;
  height: 40px;
  border: 1px solid var(--color-gray200);
  border-radius: 40px;
  text-align: center;
}
.pagination button.active {
  background-color: #2f80ed;
  color: #fff;
}
