@import "@/src/styles/common.scss";

.dropdown-menu {
  position: relative;
  flex: 0 0 130px;
  border-radius: 12px;
  border: 1px solid $color-e5e7eb;
  background: #fff;

  > button {
    display: block;
    width: 100%;
    height: 42px;
    padding: 12px 20px;
    background-image: url("/assets/icon/ic_arrow_down.png");
    @include background-styles(no-repeat, center right 20px, 24px);
    color: $color-1f2937;
    text-align: left;
  }
}

.menu-box {
  position: absolute;
  left: 0;
  top: 45px;
  width: 130px;
  border-radius: 12px;
  border: 1px solid $color-e5e7eb;
  background: #fff;
  text-align: center;

  button {
    display: block;
    width: 100%;
    height: auto;
    padding: 9px 0;
    &:hover {
      color: $color-6b7280;
      transition: all ease 0.2s;
    }
  }
  button + button {
    border-top: 1px solid $color-e5e7eb;
  }
}

.menu-box.open {
  border: 1px solid red;
}

@media (max-width: 768px) {
  .dropdown-menu {
    flex: 0 0 42px;

    > button {
      width: 100%;
      height: 42px;
      padding: 0;
      background-image: url("/assets/icon/ic_sort.png");
      @include background-styles(no-repeat, center, 24px);
      font-size: 0;
    }
  }
  .menu-box {
    left: auto;
    right: 0;
    width: 110px;
  }
}
