@import "@/src/styles/common.scss";

.search-box {
  position: relative;
  width: 100%;

  button {
    position: absolute;
    left: 16px;
    top: 50%;
    margin-top: -12px;
    padding: 0;
  }

  input {
    height: 42px;
    padding: 9px 44px;
    color: $color-9ca3af;
    line-height: 42px;
  }
}
