.addform {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
  margin-top: 24px;
}

.title {
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 700;
  color: var(--gray800);
  margin: 0;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.image-label {
  color: var(--gray800);
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 700;
}
.image-input {
  border-radius: 12px;
  background-color: var(--gray100);
  width: 282px;
  height: 282px;
}
.image-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-icon-text {
  display: flex;
  flex-direction: column;
}
.bg-icon {
  background-image: url("/icons/ic_plus.svg");
  background-position: bottom 38px;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}
.input-text {
  color: var(--gray400);
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
}
.button {
  position: absolute;
  top: 0;
  right: 0;
  width: 74px;
  height: 42px;
  background-color: var(--gray400);
  color: var(--gray100);
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}

@media screen and (max-width: 992px) {
  .addform {
    margin-top: 16px;
  }
}
