.section {
  margin: 24px 0 40px 0;
}

@media screen and (max-width: 992px) {
  .section {
    margin: 24px 0 24px 0;
  }
}

@media screen and (max-width: 768px) {
  .section {
    margin: 16px 0 24px 0;
  }
}
