.itemContainer {
  background-color: #f9fafb;
  padding: 0 24px 9px;
  /* width: 384px; */
}

.itemContent {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.itemTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  color: #1f2937;
}

.itemDescription {
  margin-top: 18px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
}

.writerNickname {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #4b5563;
}

.likeContainer {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #6b7280;
  flex-grow: 1;
}

.createdAt {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #9ca3af;
}
