header {
  position: sticky;
  top: 0;
  z-index: 1;
}
header button {
  border: 0;
  background-color: transparent;
}
nav {
  background-color: #ffffff;
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #dfdfdf;
  padding: 0 200px;
  font-size: 1.6rem;
}
.header-img {
  display: flex;
  top: 27px;
  left: 20px;
  height: 51px;
  width: 153px;
}
