@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Pretendard Variable", Pretendard;
}

a {
  text-decoration: none;
}

a:active,
a:visited {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 127px auto 0;
  max-width: 1200px;
}

@media (max-width: 1200px){
  .container {
    padding: 0 24px ;
  }
}
  
@media (max-width:768px) {
  .container {
    padding: 0 15px ;
    margin-top: 100px ;
  }
}
