* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Pretendard", sans-serif;
}

li {
  list-style-type: none;
}

img {
  display: inline-block;
  vertical-align: top;
}

a {
  text-decoration: none;
  color: inherit;
}

em,
strong {
  font-style: normal;
  display: inline-block;
}
