@font-face {
  font-family: "ROKAF Sans";
  src: url("/public/fonts/ROKAF-Sans-Bold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

html {
  --color-white: #ffffff;
  --color-gray50: #f9fafb;
  --color-gray100: #f3f4f6;
  --color-gray200: #E5E7EB;
  --color-gray300: #D1D5DB;
  --color-gray400: #9CA3AF;
  --color-gray500: #6B7280;
  --color-gray700: #374151;
  --color-gray800: #1f2937;
  --color-black: #111827;
  --color-skyblue: #e6f2ff;
  --color-theme: #3692FF;
  --color-theme-hover: #1967D6;
  --color-blue200: #3182f6;
  --color-bg-skyblue: #cfe5ff;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}