@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  color: #333;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

canvas,
img,
video {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button,
select {
  cursor: pointer;
}

html,
body {
  height: 0;
  min-height: 100vh;
  background-color: #ffffff;
  color: #374151;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 62.5%;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  transition: all 1s ease;
}

.App .Header .header-wrap {
  display: flex;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid #dfdfdf;
  padding: 0 200px;
}
@media (max-width: 1199px) {
  .App .Header .header-wrap {
    padding: 0 24px;
  }
}
@media (max-width: 1199px) and (max-width: 767px) {
  .App .Header .header-wrap {
    padding: 0 16px;
  }
}
.App .Header .header-wrap .logo-wrap {
  margin-right: 5rem;
}
@media (max-width: 1199px) {
  .App .Header .header-wrap .logo-wrap {
    margin-right: 3rem;
  }
}
@media (max-width: 1199px) and (max-width: 767px) {
  .App .Header .header-wrap .logo-wrap {
    margin-right: 1rem;
    width: 35%;
  }
}
.App .Header .header-wrap .menu-wrap ul {
  display: flex;
  gap: 20px;
}
.App .Header .header-wrap .menu-wrap ul li a {
  font-size: 1.8rem;
  font-weight: 700;
  color: #4b5563;
}
@media (max-width: 767px) {
  .App .Header .header-wrap .menu-wrap ul li a {
    font-size: 1.6rem;
  }
}
.App .Header .header-wrap .menu-wrap ul li a.active {
  color: #3692ff;
}
.App .Header .header-wrap .user-wrap {
  margin-left: auto;
}
.App .login-wrap {
  max-width: 640px;
  margin: 0 auto;
  padding: 60px 0;
}
.App .login-wrap .logo {
  text-align: center;
  margin-bottom: 2rem;
}
.App .login-wrap .logo img {
  width: 396px;
  height: auto;
}
.App .login-wrap .content-wrap {
  display: grid;
  gap: 24px;
}
.App .login-wrap .content-wrap .login-form {
  display: grid;
  gap: 24px;
}
.App .login-wrap .content-wrap .login-form .input-box {
  display: grid;
  gap: 16px;
}
.App .login-wrap .content-wrap .login-form .input-box label {
  font-size: 1.8rem;
  font-weight: 600;
  color: #1f2937;
}
.App .login-wrap .content-wrap .login-form .input-box input {
  font-size: 1.6rem;
  font-weight: 400;
  color: #1f2937;
  height: 56px;
  width: 100%;
  padding: 0 24px;
  border-radius: 12px;
  border: none;
  outline: none;
  background-color: #f3f4f6;
  transition: all ease 0.1s;
}
.App .login-wrap .content-wrap .login-form .input-box input:focus {
  border: 3px solid #3692ff;
  transition: all ease 0.1s;
}
.App .login-wrap .content-wrap .login-form .input-box input.red {
  border: 3px solid #f74747;
}
.App .login-wrap .content-wrap .login-form .input-box.password-box .input-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.App .login-wrap .content-wrap .login-form .input-box.password-box .input-wrap .close-eyes,
.App .login-wrap .content-wrap .login-form .input-box.password-box .input-wrap .close-eyes.chk {
  background: url("../images/icon/close_eyes.svg") center center no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 24px;
  border: none;
  cursor: pointer;
}
.App .login-wrap .content-wrap .login-form .input-box.password-box .input-wrap .close-eyes.open-eyes,
.App .login-wrap .content-wrap .login-form .input-box.password-box .input-wrap .close-eyes.chk.open-eyes {
  background: url("../images/icon/open_eyes.svg") center center no-repeat;
}
.App .login-wrap .content-wrap .login-form .input-box .error {
  color: #f74747;
  font-size: 0.875rem;
  font-weight: 600;
  padding-left: 24px;
  margin-top: -5px;
}
.App .login-wrap .content-wrap .login-form .btn {
  font-size: 2rem;
  font-weight: 600;
  color: #f9fafb;
  border: none;
  border-radius: 40px;
  height: 56px;
  width: 100%;
  background-color: #9ca3af;
  transition: all ease 0.3s;
  cursor: pointer;
}
.App .login-wrap .content-wrap .login-form .btn.disabled-none {
  background-color: #3692ff;
  transition: all ease 0.3s;
}
.App .login-wrap .content-wrap .easy-login-wrap {
  background-color: #e6f2ff;
  border-radius: 8px;
  padding: 15px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.App .login-wrap .content-wrap .easy-login-wrap p {
  font-size: 1.6rem;
  font-weight: 500;
}
.App .login-wrap .content-wrap .easy-login-wrap .login-icon {
  display: flex;
  gap: 16px;
}
.App .login-wrap .content-wrap .link-wrap {
  font-size: 1.4rem;
  font-weight: 500;
  color: #1f2937;
  display: flex;
  justify-content: center;
  gap: 4px;
}
.App .login-wrap .content-wrap .link-wrap a {
  color: #3182f6;
}
@media (max-width: 1199px) {
  .App .login-wrap {
    max-width: 640px;
    margin: 0 auto;
    padding: 48px 0;
  }
  .App .login-wrap .logo {
    text-align: center;
    margin-bottom: 2rem;
  }
  .App .login-wrap .logo img {
    width: 396px;
    height: auto;
  }
  .App .login-wrap .content-wrap {
    display: grid;
    gap: 24px;
  }
  .App .login-wrap .content-wrap .login-form {
    display: grid;
    gap: 24px;
  }
  .App .login-wrap .content-wrap .login-form .input-box {
    display: grid;
    gap: 16px;
  }
  .App .login-wrap .content-wrap .login-form .input-box label {
    font-weight: 600;
    color: #1f2937;
  }
  .App .login-wrap .content-wrap .login-form .input-box input {
    font-weight: 400;
    color: #1f2937;
    height: 56px;
    width: 100%;
    padding: 0 24px;
    border-radius: 12px;
    border: none;
    outline: none;
    background-color: #f3f4f6;
    transition: all ease 0.1s;
  }
  .App .login-wrap .content-wrap .login-form .input-box input:focus {
    border: 3px solid #3692ff;
    transition: all ease 0.1s;
  }
  .App .login-wrap .content-wrap .login-form .btn {
    font-weight: 600;
    color: #f9fafb;
    border: none;
    border-radius: 40px;
    height: 56px;
    width: 100%;
    background-color: #9ca3af;
    transition: all ease 0.3s;
    cursor: pointer;
  }
  .App .login-wrap .content-wrap .login-form .btn.disabled-none {
    background-color: #3692ff;
    transition: all ease 0.3s;
  }
  .App .login-wrap .content-wrap .easy-login-wrap {
    background-color: #e6f2ff;
    border-radius: 8px;
    padding: 15px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .App .login-wrap .content-wrap .link-wrap {
    font-weight: 500;
    color: #1f2937;
    display: flex;
    justify-content: center;
    gap: 4px;
  }
  .App .login-wrap .content-wrap .link-wrap a {
    color: #3182f6;
  }
}
@media (max-width: 767px) {
  .App .login-wrap {
    max-width: 400px;
    margin: 0 auto;
    padding: 24px 16px;
  }
  .App .login-wrap .logo {
    text-align: center;
    margin-bottom: 2rem;
  }
  .App .login-wrap .logo img {
    width: 198px;
    height: auto;
  }
  .App .login-wrap .content-wrap {
    display: grid;
    gap: 24px;
  }
  .App .login-wrap .content-wrap .login-form {
    display: grid;
    gap: 24px;
  }
  .App .login-wrap .content-wrap .login-form .input-box {
    display: grid;
    gap: 16px;
  }
  .App .login-wrap .content-wrap .login-form .input-box label {
    font-size: 1.4rem;
    font-weight: 600;
    color: #1f2937;
  }
  .App .login-wrap .content-wrap .login-form .input-box input {
    font-weight: 400;
    color: #1f2937;
    height: 56px;
    width: 100%;
    padding: 0 24px;
    border-radius: 12px;
    border: none;
    outline: none;
    background-color: #f3f4f6;
    transition: all ease 0.1s;
  }
  .App .login-wrap .content-wrap .login-form .input-box input:focus {
    border: 3px solid #3692ff;
    transition: all ease 0.1s;
  }
  .App .login-wrap .content-wrap .login-form .btn {
    font-weight: 600;
    color: #f9fafb;
    border: none;
    border-radius: 40px;
    height: 56px;
    width: 100%;
    background-color: #9ca3af;
    transition: all ease 0.3s;
    cursor: pointer;
  }
  .App .login-wrap .content-wrap .login-form .btn.disabled-none {
    background-color: #3692ff;
    transition: all ease 0.3s;
  }
  .App .login-wrap .content-wrap .easy-login-wrap {
    background-color: #e6f2ff;
    border-radius: 8px;
    padding: 15px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .App .login-wrap .content-wrap .link-wrap {
    font-weight: 500;
    color: #1f2937;
    display: flex;
    justify-content: center;
    gap: 4px;
  }
  .App .login-wrap .content-wrap .link-wrap a {
    color: #3182f6;
  }
}
.App main section.main-top {
  height: 540px;
  background: #cfe5ff url("../images/img_home_top.png") 75% bottom no-repeat;
  position: relative;
}
.App main section.main-top .tit-wrap {
  gap: 32px;
}
.App main section.main-top .tit-wrap .main-tit-btn {
  width: 357px;
  height: 56px;
  font-size: 2rem;
  color: #ffffff;
  font-weight: 600;
  border-radius: 40px;
  background-color: #3692ff;
  transition: all ease 0.3s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App main section.main-top .tit-wrap .main-tit-btn:hover {
  background-color: #1967d6;
  transition: all ease 0.3s;
}
.App main section.main-bottom {
  height: 540px;
  background: #cfe5ff url("../images/img_home_bottom.png") 75% bottom no-repeat;
  position: relative;
}
.App main section .tit-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  inset: 0;
}
.App main section .main-tit {
  font-size: 4rem;
  color: #374151;
  font-weight: 700;
  line-height: 56px;
}
.App main section.main-middle .main-middle-wrap {
  display: grid;
  gap: 276px;
  margin: 138px auto 276px;
}
.App main section.main-middle .main-middle-wrap li {
  display: flex;
  align-items: center;
  gap: 64px;
}
.App main section.main-middle .main-middle-wrap li:nth-child(2) {
  flex-direction: row-reverse;
  text-align: right;
}
.App main section.main-middle .main-middle-wrap li .tit-box {
  display: grid;
  gap: 12px;
}
.App main section.main-middle .main-middle-wrap li .tit-box .small-txt {
  font-size: 1.8rem;
  font-weight: 700;
  color: #3692ff;
}
.App main section.main-middle .main-middle-wrap li .tit-box .sub-txt {
  font-size: 2.4rem;
  font-weight: 500;
  color: #374151;
  line-height: 28.8px;
}
@media (max-width: 1199px) {
  .App main section.main-top {
    height: 771px;
    background: #cfe5ff url("../images/img_home_top.png") center bottom no-repeat;
    background-size: contain;
    position: relative;
  }
  .App main section.main-top .tit-wrap {
    gap: 24px;
    margin-top: 84px;
  }
  .App main section.main-top .tit-wrap .main-tit-btn {
    width: 357px;
    height: 56px;
    color: #ffffff;
    font-weight: 600;
    border-radius: 40px;
    background-color: #3692ff;
    transition: all ease 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .App main section.main-top .tit-wrap .main-tit-btn:hover {
    background-color: #1967d6;
    transition: all ease 0.3s;
  }
  .App main section.main-bottom {
    height: 927px;
    background: #cfe5ff url("../images/img_home_bottom.png") center bottom no-repeat;
    background-size: contain;
    position: relative;
  }
  .App main section.main-bottom .tit-wrap {
    margin-top: 201px;
  }
  .App main section .tit-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    inset: 0;
  }
  .App main section .main-tit {
    color: #374151;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
  }
  .App main section .main-tit .br-none {
    display: none;
  }
  .App main section.main-middle .main-middle-wrap {
    display: grid;
    gap: 52px;
    padding: 24px;
    margin: 0 0 50px 0;
  }
  .App main section.main-middle .main-middle-wrap .main-tit {
    font-size: 3.2rem;
  }
  .App main section.main-middle .main-middle-wrap li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .App main section.main-middle .main-middle-wrap li:nth-child(2) {
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
  }
  .App main section.main-middle .main-middle-wrap li .tit-box {
    display: grid;
    gap: 24px;
  }
  .App main section.main-middle .main-middle-wrap li .tit-box .small-txt {
    font-weight: 700;
    color: #3692ff;
  }
  .App main section.main-middle .main-middle-wrap li .tit-box .sub-txt {
    font-size: 1.8rem;
    font-weight: 500;
    color: #374151;
    line-height: 26px;
  }
}
@media (max-width: 767px) {
  .App main section.main-top {
    height: 540px;
    background: #cfe5ff url("../images/img_home_top.png") center bottom no-repeat;
    background-size: 130%;
    position: relative;
  }
  .App main section.main-top .tit-wrap {
    gap: 24px;
    margin-top: 48px;
  }
  .App main section.main-top .tit-wrap .main-tit-btn {
    width: 240px;
    height: 48px;
    font-size: 1.8rem;
    color: #ffffff;
    font-weight: 600;
    border-radius: 40px;
    background-color: #3692ff;
    transition: all ease 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .App main section.main-top .tit-wrap .main-tit-btn:hover {
    background-color: #1967d6;
    transition: all ease 0.3s;
  }
  .App main section.main-bottom {
    height: 540px;
    background: #cfe5ff url("../images/img_home_bottom.png") center bottom no-repeat;
    background-size: contain;
    position: relative;
  }
  .App main section.main-bottom .tit-wrap {
    margin-top: 121px;
  }
  .App main section .tit-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    inset: 0;
  }
  .App main section .main-tit {
    font-size: 3.2rem;
    color: #374151;
    font-weight: 700;
    line-height: 44.8px;
    text-align: center;
  }
  .App main section.main-middle .main-middle-wrap {
    display: grid;
    gap: 52px;
    margin: 15px 15px 60px;
  }
  .App main section.main-middle .main-middle-wrap .main-tit {
    font-size: 2.4rem;
  }
  .App main section.main-middle .main-middle-wrap .main-tit .br-none {
    display: none;
  }
  .App main section.main-middle .main-middle-wrap li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .App main section.main-middle .main-middle-wrap li:nth-child(2) {
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
  }
  .App main section.main-middle .main-middle-wrap li .tit-box {
    display: grid;
    gap: 16px;
  }
  .App main section.main-middle .main-middle-wrap li .tit-box .small-txt {
    font-size: 1rem;
    font-weight: 700;
    color: #3692ff;
  }
  .App main section.main-middle .main-middle-wrap li .tit-box .sub-txt {
    font-size: 1.6rem;
    font-weight: 500;
    color: #374151;
    line-height: 25.2px;
  }
}
@media (max-width: 1199px) {
  .App .Product {
    padding: 0 24px;
  }
}
@media (max-width: 1199px) and (max-width: 767px) {
  .App .Product {
    padding: 0 16px;
  }
}
.App .Product .product-tit {
  font-size: 2rem;
  font-weight: 700;
  color: #111827;
  margin: 3rem 0 2rem;
}
.App .Product .product-wrap {
  display: grid;
}
.App .Product .product-wrap .product-box {
  display: grid;
  gap: 16px;
}
.App .Product .product-wrap .product-box .img-box {
  overflow: hidden;
  border-radius: 16px;
}
.App .Product .product-wrap .product-box .img-box img {
  width: 100%;
  height: 100%;
}
.App .Product .product-wrap .product-box .txt {
  font-size: 1.4rem;
  font-weight: 500;
  color: #1f2937;
}
.App .Product .product-wrap .product-box .price {
  font-size: 1.6rem;
  font-weight: 700;
  color: #1f2937;
}
.App .Product .product-wrap .product-box .heart-wrap {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #4b5563;
}
.App .Product .product-wrap .product-box .heart-wrap .heart-button {
  background: url("../images/icon/heart.svg") center center no-repeat;
  width: 14px;
  height: 12px;
}
.App .Product #product-best .product-wrap {
  grid-template: repeat(1, 1fr)/repeat(4, 1fr);
  gap: 16px;
}
@media (max-width: 1199px) {
  .App .Product #product-best .product-wrap {
    grid-template: repeat(1, 1fr)/repeat(2, 1fr);
  }
}
@media (max-width: 1199px) and (max-width: 767px) {
  .App .Product #product-best .product-wrap {
    grid-template: repeat(1, 1fr)/repeat(1, 1fr);
  }
}
.App .Product #product-all .product-wrap {
  grid-template: repeat(2, 1fr)/repeat(5, 1fr);
  gap: 24px;
}
@media (max-width: 1199px) {
  .App .Product #product-all .product-wrap {
    grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  }
}
@media (max-width: 1199px) and (max-width: 767px) {
  .App .Product #product-all .product-wrap {
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  }
}
.App .Product .product-search-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0 1rem;
}
@media (max-width: 767px) {
  .App .Product .product-search-wrap {
    flex-direction: column;
    align-items: baseline;
  }
}
.App .Product .product-search-wrap .product-search {
  display: flex;
  gap: 12px;
}
@media (max-width: 767px) {
  .App .Product .product-search-wrap .product-search {
    display: grid;
    margin-left: auto;
  }
}
.App .Product .product-search-wrap .product-search .product-search-input {
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .App .Product .product-search-wrap .product-search .product-search-input {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}
.App .Product .product-search-wrap .product-search .product-search-input input {
  width: 325px;
  padding: 1.2rem 4.5rem;
  background-color: #f3f4f6;
  border: none;
  font-size: 1.6rem;
  color: #111827;
  border-radius: 12px;
}
@media (max-width: 1199px) {
  .App .Product .product-search-wrap .product-search .product-search-input input {
    width: 242px;
  }
}
@media (max-width: 1199px) and (max-width: 767px) {
  .App .Product .product-search-wrap .product-search .product-search-input input {
    width: 100%;
  }
}
.App .Product .product-search-wrap .product-search .product-search-input input::-moz-placeholder {
  font-size: 1.6rem;
  color: #9ca3af;
}
.App .Product .product-search-wrap .product-search .product-search-input input::placeholder {
  font-size: 1.6rem;
  color: #9ca3af;
}
.App .Product .product-search-wrap .product-search .product-search-input input:focus {
  outline: none;
}
.App .Product .product-search-wrap .product-search .product-search-input .search-button {
  position: absolute;
  left: 20px;
  background: url("../images/icon/search.svg") center center no-repeat;
  width: 15px;
  height: 15px;
}
.App .Product .product-search-wrap .product-search .product-button {
  background-color: #3692ff;
  font-size: 1.6rem;
  font-weight: 600;
  color: #f3f4f6;
  border-radius: 8px;
  padding: 12px 23px;
}
@media (max-width: 767px) {
  .App .Product .product-search-wrap .product-search .product-button {
    grid-column: 2/4;
    grid-row: 1/2;
  }
}
.App .Product .product-search-wrap .product-search .product-select {
  width: 130px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 12px 20px;
  font-size: 1.6rem;
  font-weight: 400;
  color: #1f2937;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("../images/icon/arrow-select.svg") no-repeat right 24px center;
}
@media (max-width: 767px) {
  .App .Product .product-search-wrap .product-search .product-select {
    width: 100%;
    grid-column: 3/4;
    grid-row: 2/3;
  }
}
.App .Product .product-search-wrap .product-search .product-select:focus {
  outline: none;
}
.App .Product .product-search-wrap .product-search .product-select option {
  font-size: 1.6rem;
  font-weight: 400;
  color: #1f2937;
}
.App .Product .Pagination .paging-wrap {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 4rem;
  padding-bottom: 5rem;
}
.App .Product .Pagination .paging-wrap button {
  width: 40px;
  height: 40px;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 100px;
  color: #6b7280;
}
.App .Product .Pagination .paging-wrap button.active {
  background-color: #3692ff;
  color: #fff;
}
.App .Product .Pagination .paging-wrap button.left-arrow {
  background: url("../images/icon/arrow_left.svg") center center no-repeat;
}
.App .Product .Pagination .paging-wrap button.right-arrow {
  background: url("../images/icon/arrow_right.svg") center center no-repeat;
}
.App .Additem {
  padding: 3rem 0 5rem;
}
.App .Additem .AdditemForm {
  display: grid;
  gap: 32px;
}
@media (max-width: 1199px) {
  .App .Additem .AdditemForm {
    padding: 0 24px;
  }
}
@media (max-width: 1199px) and (max-width: 767px) {
  .App .Additem .AdditemForm {
    padding: 0 15px;
  }
}
.App .Additem .AdditemForm .AdditemForm-submit-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.App .Additem .AdditemForm .AdditemForm-submit-wrap .AdditemForm-main-tit {
  font-size: 2rem;
  font-weight: 700;
  color: #1f2937;
}
.App .Additem .AdditemForm .AdditemForm-submit-wrap .submit-button {
  font-size: 1.6rem;
  font-weight: 600;
  color: #f3f4f6;
  background-color: #9ca3af;
  border-radius: 8px;
  padding: 12px 32px;
}
.App .Additem .AdditemForm .AdditemForm-submit-wrap .submit-button.active {
  background-color: #3692ff;
}
.App .Additem .AdditemForm .AdditemForm-input-wrap {
  display: grid;
  gap: 16px;
}
.App .Additem .AdditemForm .AdditemForm-input-wrap .AdditemForm-sub-tit {
  font-size: 1.8rem;
  font-weight: 700;
  color: #1f2937;
}
.App .Additem .AdditemForm .AdditemForm-input-wrap input,
.App .Additem .AdditemForm .AdditemForm-input-wrap textarea {
  border: none;
  border-radius: 12px;
  background-color: #f3f4f6;
  height: 56px;
  padding: 16px 24px;
  font-family: "Pretendard Variable", sans-serif;
}
.App .Additem .AdditemForm .AdditemForm-input-wrap input::-moz-placeholder, .App .Additem .AdditemForm .AdditemForm-input-wrap textarea::-moz-placeholder {
  font-size: 1.6rem;
  font-weight: 400;
  color: #9ca3af;
}
.App .Additem .AdditemForm .AdditemForm-input-wrap input::placeholder,
.App .Additem .AdditemForm .AdditemForm-input-wrap textarea::placeholder {
  font-size: 1.6rem;
  font-weight: 400;
  color: #9ca3af;
}
.App .Additem .AdditemForm .AdditemForm-input-wrap input.AdditemForm-content,
.App .Additem .AdditemForm .AdditemForm-input-wrap textarea.AdditemForm-content {
  height: 282px;
  resize: none;
}
.App .Additem .AdditemForm .AdditemForm-input-wrap input:focus,
.App .Additem .AdditemForm .AdditemForm-input-wrap textarea:focus {
  outline: none;
  border: 3px solid #3692ff;
  transition: all ease 0.1s;
}
.App .Additem .AdditemForm .AdditemForm-input-wrap .AdditemForm-FileInput-wrap {
  display: flex;
  gap: 24px;
}
@media (max-width: 1199px) {
  .App .Additem .AdditemForm .AdditemForm-input-wrap .AdditemForm-FileInput-wrap {
    gap: 10px;
  }
}
.App .Additem .AdditemForm .AdditemForm-input-wrap .AdditemForm-FileInput-wrap .AdditemForm-file-wrap .AdditemForm-file {
  position: relative;
  width: 282px;
  height: 282px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: #f3f4f6;
  gap: 12px;
}
@media (max-width: 1199px) {
  .App .Additem .AdditemForm .AdditemForm-input-wrap .AdditemForm-FileInput-wrap .AdditemForm-file-wrap .AdditemForm-file {
    width: 168px;
    height: 168px;
  }
}
.App .Additem .AdditemForm .AdditemForm-input-wrap .AdditemForm-FileInput-wrap .AdditemForm-file-wrap .AdditemForm-file input[type=file] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.App .Additem .AdditemForm .AdditemForm-input-wrap .AdditemForm-FileInput-wrap .AdditemForm-file-wrap .AdditemForm-file span {
  font-size: 1.6rem;
  font-weight: 400;
  color: #9ca3af;
}
.App .Additem .AdditemForm .AdditemForm-input-wrap .AdditemForm-FileInput-wrap .AdditemForm-img-wrap {
  position: relative;
}
.App .Additem .AdditemForm .AdditemForm-input-wrap .AdditemForm-FileInput-wrap .AdditemForm-img-wrap .AdditemForm-img {
  width: 282px;
  height: 282px;
  border-radius: 12px;
  overflow: hidden;
  display: block;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1199px) {
  .App .Additem .AdditemForm .AdditemForm-input-wrap .AdditemForm-FileInput-wrap .AdditemForm-img-wrap .AdditemForm-img {
    width: 168px;
    height: 168px;
  }
}
.App .Additem .AdditemForm .AdditemForm-input-wrap .AdditemForm-FileInput-wrap .AdditemForm-img-wrap .reset-button {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
}
.App .Additem .AdditemForm .AdditemForm-input-wrap .AdditemForm-error {
  font-size: 1.6rem;
  font-weight: 400;
  color: #f74747;
}
@media (max-width: 1199px) {
  .App .Additem .AdditemForm .AdditemForm-input-wrap .AdditemForm-error {
    font-size: 1.4rem;
  }
}
.App footer {
  display: flex;
  height: 160px;
  padding: 32px 200px;
  background-color: #111827;
}
.App footer .footer-wrap {
  display: flex;
  justify-content: space-between;
  flex-basis: 1520px;
}
.App footer .footer-wrap p,
.App footer .footer-wrap a {
  font-size: 1.6rem;
  font-weight: 400;
  color: #9ca3af;
}
.App footer .footer-wrap a {
  cursor: pointer;
}
.App footer .footer-wrap .footer-btn {
  display: flex;
  gap: 30px;
}
.App footer .footer-wrap .footer-btn a {
  color: #e5e7eb;
}
.App footer .footer-wrap .footer-icon {
  display: flex;
  gap: 12px;
}
@media (max-width: 1199px) {
  .App footer {
    display: flex;
    justify-content: center;
    height: 160px;
    padding: 32px 100px;
    background-color: #111827;
  }
  .App footer .footer-wrap {
    display: flex;
    justify-content: space-between;
    flex-basis: 1520px;
  }
  .App footer .footer-wrap p,
  .App footer .footer-wrap a {
    font-weight: 400;
    color: #9ca3af;
  }
  .App footer .footer-wrap a {
    cursor: pointer;
  }
  .App footer .footer-wrap .footer-btn {
    display: flex;
    gap: 30px;
  }
  .App footer .footer-wrap .footer-btn a {
    color: #e5e7eb;
  }
  .App footer .footer-wrap .footer-icon {
    display: flex;
    gap: 12px;
  }
}
@media (max-width: 767px) {
  .App footer {
    display: flex;
    justify-content: center;
    height: 160px;
    padding: 32px;
    background-color: #111827;
  }
  .App footer .footer-wrap {
    display: grid;
    grid-template-areas: "btn icon" "copy copy";
    gap: 60px;
  }
  .App footer .footer-wrap p,
  .App footer .footer-wrap a {
    font-weight: 400;
    color: #9ca3af;
  }
  .App footer .footer-wrap p {
    grid-area: copy;
  }
  .App footer .footer-wrap a {
    cursor: pointer;
  }
  .App footer .footer-wrap .footer-btn {
    display: flex;
    gap: 30px;
    grid-area: btn;
  }
  .App footer .footer-wrap .footer-btn a {
    color: #e5e7eb;
  }
  .App footer .footer-wrap .footer-icon {
    display: flex;
    gap: 12px;
    grid-area: icon;
  }
}