.add-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-container h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  color: var(--text-gary-4);
  margin-bottom: 32px;
}

.upload-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.upload-container div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.upload-container label, .add-img > span {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: var(--text-gary-4);
  width: fit-content;
}

.upload-container input,
.upload-container textarea {
  background-color: var(--Secondary-100);
  border-radius: 12px;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.upload-container input::placeholder,
.upload-container textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: var(--text-gray-1);
}

.add-title input {
  height: 56px;
}

.add-description textarea {
  resize: none;
  height: 282px;
}

.add-img input {
  display: none;
}

.upload-container label.add-img-btn {
  width: 282px;
  height: 282px;
  border-radius: 12px;
  background-color: var(--Secondary-100);
  background-image: url(/ic_plus.png);
  background-repeat: no-repeat;
  background-position: 50% 98px ;
  background-size: 48px 48px;
  position: relative;
}

.register-img {
position: absolute;
top: 158px;
left: 104px;
font-size: 16px;
font-weight: 400;
line-height: 26px;
color: var(--text-gray-1);
}
