.post-container {
  padding: 24px 360px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.post-container h2 {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.87px;
  color: var(--cool-gray-900);
}

@media (max-width: 1280px) {
  .post-container {
    padding: 24px 24px 0;
  }
}

@media (max-width: 768px) {
  .post-container {
    padding: 16px 16px 0;
  }

  .post-container h2 {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
  }
}
