* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--gray900: #111827;
	--gray800: #1F2937;
	--gray700: #374151;
	--gray600: #4B5563;
	--gray500: #6B7280;
	--gray400: #9CA3AF;
	--gray200: #E5E7EB;
	--gray100: #F3F4F6;
	--gray50: #F9FAFB;
	--blue: #3692FF;
	--white: #ffffff;
}

body {
	color: #374151;
  word-break: keep-all;
	font-family: "Pretendard Variable", Pretendard, sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #dfdfdf;
}

img {
  vertical-align: bottom;
}

footer {
	background-color: #111827;
	height: 160px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #ffffff;
	padding: 32px 200px 109px 200px;
}

.socialMedia {
	display: flex;
	gap: 13px;
}

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

.button:hover {
  background-color: #1967d6;
}

.button:focus {
  background-color: #1251aa;
}