html {
  --brand-blue: #3692ff;
  --Secondary-100: #f3f4f6;
  --border-gray-1: #dfdfdf;
  --border-gray-2: #e5e7eb;
  --background-gray: #f9fafb;
  --text-gray-1: #9ca3af;
  --text-gray-2: #6b7280;
  --text-gray-3: #4b5563;
  --text-gary-4: #1f2937;
  --cool-gray-200: #e5e7eb;
  --cool-gray-00: #1f2937;
  --cool-gray-900: #111827;
  --background-gray: #fcfcfc;
  
}

.container {
  padding: 24px 360px 0;
  display: flex;
  flex-direction: column;
}


