:root {
  --second: #cfe5ff;
  --main: #3692ff;

  --gray900: #111827;
  --gray800: #1f2937;
  --gray700: #374151;
  --gray600: #4b5563;
  --gray500: #6b7280;
  --gray400: #9ca3af;
  --gray200: #e5e7eb;
  --gray100: #f3f4f6;
  --gray50: #f9fafb;
}

html {
  margin: 0;
}

body {
  margin: 71px 0 0 0;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  font-family: Pretendard;
  font-size: 62.5%;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
. .hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media screen and (max-width: 992px) {
  .container {
    max-width: auto;
    margin: 0 24px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: auto;
    margin: 0 16px;
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
