/* Mobile */
.banner {
  text-align: center;
  height: 60vh;
  background-color: #cfe5ff;
  background-repeat: no-repeat;
  background-position: 80% bottom;
  background-size: 55%;
}

#topBanner {
  background-image: url("../images/landing/Img_home_top.png");
}

.banner h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 44.8px;
  padding-top: 48px;
  padding-bottom: 18px;
}

#bottomBanner {
  background-image: url("../images/landing/Img_home_bottom.png");
}

#loginLink {
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  padding: 11.5px 23px;
}

#features {
  padding-top: 51px;
}

.feature {
  margin-bottom: 64px;
}

.feature img {
  width: 100%;
  margin-bottom: 20px;
}

.feature:nth-child(2) {
  text-align: right;
}

.feature-content {
  flex: 1;
}

/* 'feature-tag' */
.feature-content h2 {
  color: var(--blue);
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 700;
  margin-bottom: 8px;
}

.feature-content h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 33.6px;
}

.feature-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 0.08em;
  margin-top: 20px;
}

/* Tablet */
@media (min-width: 768px) {
  .banner {
    height: 90vh;
    background-size: 120%;
  }

  .banner h1 {
    font-size: 40px;
    line-height: 56px;
    padding-top: 84px;
    padding-bottom: 24px;
  }

  #topBanner h1 br {
    display: none;
  }

  #features {
    padding-top: 51px;
  }

  .feature {
    margin-bottom: 64px;
  }

  .feature img {
    width: 100%;
    margin-bottom: 20px;
  }

  .feature:nth-child(2) {
    text-align: right;
  }

  .feature-content {
    flex: 1;
  }

  /* 'feature-tag' */
  .feature-content h2 {
    color: var(--blue);
    font-size: 16px;
    line-height: 22.4px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  .feature-content h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 33.6px;
  }

  .feature-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 0.08em;
    margin-top: 20px;
  }
}

/* Desktop */
@media (min-width: 1280px) {
  .banner {
    text-align: left;
    height: 540px;
    display: flex;
    align-items: center;
    background-color: #cfe5ff;
    background-position: 80% bottom;
    background-size: 55%;
  }

  .banner h1 {
    padding-top: 0;
    padding-bottom: 32px;
  }

  #topBanner h1 br {
    display: inline;
  }

  #features {
    padding: 138px 0;
  }

  .feature {
    margin-bottom: 138px;
    display: flex;
    align-items: center;
    gap: 5%;
  }

  .feature:nth-child(2) {
    flex-direction: row-reverse;
  }

  .feature img {
    width: 50%;
    margin-bottom: 0;
  }

  .feature-content h1 {
    font-size: 40px;
    line-height: 56px;
  }

  .feature-description {
    font-size: 24px;
    line-height: 28.8px;
    margin-top: 24px;
  }
}
