.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  width: 104px;
  height: 104px;
}

.logo h1 {
  font-size: 66px;
  font-weight: 700;
  color: var(--blue);
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 780px;
  gap: 24px;
}

.form label {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.form input {
  height: 56px;
  width: 100%;
  border-radius: 12px;
  padding: 16px 24px;
  border: none;
  background-color: var(--gray-100);
}

.form button {
  height: 56px;
  text-align: center;
  color: white;
  background-color: var(--gray-400);
  padding: 16px 124px;
  border-radius: 40px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  width: 100%; /* 너비를 100%로 조정 */
  box-sizing: border-box;
}

.password-input {
  display: flex;
  align-items: center;
  position: relative;
}

.btn_visibility {
  cursor: pointer;
  position: absolute;
  right: 16px; /* 위치 조정 */
}

.social-loginbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  width: 780px;
  padding: 16px;
  background-color: var(--banner-bg-color);
  border-radius: 8px;
  gap: 10px;
}

.for-signup {
  display: block;
  width: 240px;
  margin-top: 24px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 16px;
}

.signup-link {
  color: #3692ef;
  text-decoration: underline;
}

#password-error,
#email-error {
  color: red;
  display: none;
  padding-left: 8px;
}

/* 모바일 사이즈 스타일 */
@media (max-width: 767px) {
  .form,
  .social-loginbar,
  .form button {
    width: 100%;
  }

  .form,
  .form button {
    padding: 0 16px;
  }

  .logo img {
    width: 52px;
    height: 52px;
  }
  .logo h1 {
    font-size: 32px;
  }

  .form label {
    font-size: 14px;
  }
}
