* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 200px;
  position: fixed;
  top: 0;
  background-color: #ffffff;
}

.login {
  width: 128px;
  height: 48px;
  border: none;
  border-radius: 8px;
  background-color: var(--primary-blue100);
  color: var(--secondary-gray100);
  text-decoration: none;
  text-decoration-line: none;
  text-align: center;
  line-height: 48px;
}

.header-image-container {
  height: 540px;
  background-color: #cfe5ff;
}

.header-image-box {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 100%;
}

.header-image-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.header-image-description > div {
  color: var(--primary-gray700);
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}

.buy-button {
  border: none;
  border-radius: 40px;
  background-color: var(--primary-blue100);
  padding: 16px 124px;
  text-decoration: none;
  color: var(--secondary-gray50);
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

.header-image {
  display: flex;
  align-items: end;
}

.header-image img {
  width: 100%;
}

.section-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 64px;
  padding: 137.5px 0;
}

.section-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-description.right-align {
  text-align: end;
}

.menu {
  color: var(--primary-blue100);
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 12px;
}

.menu-title {
  color: var(--primary-gray700);
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 24px;
}
.menu-title span {
  display: block;
}

.menu-description {
  color: var(--primary-gray700);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

footer {
  margin: 0 auto;
}

.footer-image {
  height: 540px;
  width: 100%;
  background-color: #cfe5ff;
  display: flex;
  justify-content: center;
  gap: 55px;
}

.footer-image-description {
  display: flex;
  align-items: center;
  color: var(--primary-gray700);
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}

.footer-info-container {
  height: 160px;
  width: 100%;
  background-color: var(--secondary-gray900);
}

.footer-info {
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 32px 200px 108px;
}

.copy-right {
  color: var(--secondary-gray200);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.privacy-policy > a,
.faq > a {
  color: var(--secondary-gray200);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  cursor: pointer;
  text-decoration: none;
}

.privacy-policy {
  padding-right: 30px;
}


@media (max-width:1200px) {
  .gnb {
    padding: 10px 24px;
  }

  .header-image-container {
    height: 824px;
  }
 
  .header-image-description {
    align-items: center;
    margin-top: 137px;
    gap: 24px;
  }

  .header-image-box {
    flex-direction: column;
    justify-content: space-between;
  }

  .header-image-description span {
    display: inline-block;
  }

  .header-image {
    justify-content: center;
  }

  .header-image img {
    height: 340px;
    width: auto;
  }

  .section-container {
    flex-direction: column;
    padding: 24px 24px 26px;
    width: 100%;
    gap: 24px;
  }

  .section-container img {
    width: 100%;
  }

  .menu {
    margin-bottom: 16px;
  }

  .menu-title span {
    display: inline-block;
    font-size: 32px;
    line-height: 42px;
  }

  .menu-description {
    font-size: 18px;
    line-height: 26px;
  }

  .section-container.right-align {
    flex-direction: column-reverse;
  }

  .footer-image {
    height: 927px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-top: 56px;
  }

  .footer-image-description {
    margin-top: 201px;
  }

  .footer-image img{
    height:397px;
    width: auto;
    display: block ;
  }
  .footer-info {
    padding: 32px 104px 108px;
  }
}






@media (max-width:768px) {
  .gnb {
    padding: 10px 16px;
  }
  
  .header-image-description span {
    display: block;
    text-align: center;
  }

  .header-image-container {
    height: 593px;
  }

  .header-image img {
    height: 204px;
  }

  .header-image-description > div {
    font-size: 32px;
    line-height: 44.8px;
  }

  .buy-button {
    padding: 8px 80px;
    font-size: 18px;
    line-height: 26px;
  }

  .header-image-description {
    align-items: center;
    margin-top: 101px;
    gap: 18px;
  }

  .section-container {
    flex-direction: column;
    padding: 40px 16px;
    width: 100%;
    gap: 24px;
  }

  .menu {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .menu-title {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 32px;
  }
  
  .menu-title span {
    display: inline-block;
    font-size: 24px;
    line-height: 33.6px;
  }
}