.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  height: 100vh;
}

.content {
  margin: 130px 0 60px;
  text-align: center;

  p {
    font-size: 2rem;
    font-weight: 500;
    color: $gray600;
  }
}
