@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root {
    --gray900: #111827;
    --gray800: #1f2937;
    --gray700: #374151;
    --gray600: #4B5563;
    --gray500: #6B7280;
    --gray400: #9CA3AF;
    --gray200: #E5E7EB;
    --gray100: #F3F4F6;
    --gray50: #F9FAFB;
    --color: #3692FF;
    --background-color: #CFE5FF;
    --error: #F74747;

}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Pretendard-Regular";
}

input:focus {
    border: 1px solid #3692FF;
    outline: none;
}

.error-message {
    width: fit-content;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600;
    margin-top: 8px;
    padding-left: 16px;
    color: #F74747;
    display: none;
}

.active {
    background-color: #3182F6 !important;
    cursor: pointer;
}