.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 40px;

  position: absolute;
  width: 640px;
  height: 618px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 396px;
  height: 132px;
}

#loginLogo {
  font-family: "ROKAF Sans";
  color: #3692ff;
  font-size: 64px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 640px;
}

.login-username,
.login-nickname,
.login-password,
.login-password2,
.login-botton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 98px;
  gap: 16px;
}

.txt-up {
  color: #1f2937;
  font-weight: 700;
  font-size: 18px;
  height: 26px;
  line-height: 26px;
}

.input-up {
  border: 0;
  border-radius: 12px;
  width: 640px;
  padding: 16px 24px;
  background: #f3f4f6;
}

.eye-icon {
  position: absolute;
  right: 20px;
  top: 57.5%;
  transform: translateY(-50%);
  cursor: pointer;
}

.eye-icon2 {
  position: absolute;
  right: 20px;
  top: 73%;
  transform: translateY(-50%);
  cursor: pointer;
}

.input-btn {
  border: 0;
  border-radius: 40px;
  width: 640px;
  height: 56px;
  padding: 16px 124px;
  color: #f3f4f6;
  background: #9ca3af;
}

.social-login {
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 640px;
  height: 74px;
  padding: 16px 23px;
  gap: 10px;
  background: #e6f2ff;
}

#social-txt {
  color: #1f2937;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.signup-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  gap: 4px;
}

#signup-txt {
  color: #1f2937;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  height: 24px;
}

#signup-link {
  color: #3692ff;
  text-decoration: underline;
}
