.authContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 640px;
  gap: 40px;
  margin: auto;
}

.authLogoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  padding-top: 70px;

  img {
    width: 103px;
  }

  span {
    font-family: "ROKAF Sans";
    font-weight: 700;
    font-size: 6.6rem;
    color: var(--color-theme);
  }
}

.authFooter {
  width: 640px;
}

.authFooterContents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-skyblue);
  padding: 1rem 1.7rem;
  border-radius: 8px;

  h2 {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-gray800);
  }
}

.authFooterLink {
  display: flex;
  align-items: center;
  gap: 16px;

  img {
    width: 42px;
  }
}

.authBottomLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-top: 24px;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-gray800);

  a {
    color: var(--color-blue200);
    font-size: 1.5rem;
    text-decoration: underline;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .authContainer {
    width: 400px;
    gap: 20px;
  }

  .authLogoContainer {
    margin-top: 80px;
    margin-bottom: 24px;
    padding: 0;

    img {
      width: 51px;
    }

    span {
      font-size: 3.3rem;
    }
  }

  .authFooterContents {
    margin: auto;
  }

  .authFooter {
    margin-bottom: 80px;
    max-width: 400px;
  }
}